/* # Page layout
================================================== */
.pace .pace-progress {
    background : #ffa401;
}

#admin_form {
    background : #ffffff;
    padding    : 10px;
}

.page-header {
    background : #ffffff;
    padding    : 10px;
    margin-top : 30px;
}

/*===== Page content =====*/
.sidebar-content {
    position       : relative;
    padding-bottom : 56px;
}

.sidebar-content-individual {
    margin-top : 54px;
}

.main-page-content {
    margin-top : 30px;

    > form > .row > .col-md-9,
    > form > .row > .col-md-3 {
        padding : 10px;
    }

}

.sidebar-box {
    padding       : 10px;
    margin-bottom : 15px;
    background    : #ffffff;
}

.page-content {
    display        : flex;
    flex-direction : column;
    margin         : 0 0 0 203px;
    position       : relative;
    padding-bottom : 100px;

    .box {
        margin-top : 15px;

        .box-header {
            margin-bottom : 5px;
        }

    }

}

.sidebar-narrow .page-content {
    margin-left : 70px;
}

.full-width .page-content {
    margin : 0 25px;
}

.hidden-ul {
    display : none;
}

/*===== Sidebars =====*/
.sidebar {
    width            : 200px;
    background-color : #3a4b55;
    position         : absolute;
    top              : 0;
    left             : 0;
    min-height       : 100%;
    z-index          : 10;
}

.sidebar-narrow .sidebar {
    width : 54px;
}

.sidebar-narrow.sidebar-right .sidebar {
    left  : auto;
    right : 0;
}

.sidebar-narrow.sidebar-right .page-content {
    margin : 0 79px 0 25px;
}

.sidebar-narrow.sidebar-right .navigation > li > a {
    padding-right : 0;
    padding-left  : 3px;
}

.sidebar-narrow.sidebar-right .navigation > li > ul {
    left                  : auto;
    right                 : 100%;
    border-radius         : 2px 0 0 2px;
    -webkit-border-radius : 2px 0 0 2px;
    -moz-border-radius    : 2px 0 0 2px;
}

.sidebar-narrow.sidebar-right .navigation > li:hover > ul {
    border-left  : 0;
    border-right : 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-narrow-right .page-content {
    margin : 0 79px 0 25px;
}

/*===== Main navigation ====*/
.navigation {
    list-style : none;
    margin     : 0 0 35px 0;
    padding    : 0;
}

.navigation li {
    position : relative;

    &,
    a {
        white-space   : nowrap;
        overflow-x    : hidden;
        text-overflow : ellipsis;
    }

}

.navigation > li {
    position   : relative;
    border-top : 1px solid #49565d;
}

.navigation li.has-ul {
    overflow-x    : initial;
    white-space   : initial;
    text-overflow : initial;
    display       : block;
}

.navigation > li.active:focus > a,
.navigation > li.active:hover > a,
.navigation > li.active > a {
    color            : #ffffff;
    background-color : #43b1d6;
}

.navigation > li.active > a > i {
    opacity : 1;
    filter  : alpha(Opacity=100);
}

.navigation > li > a {
    color       : rgba(255, 255, 255, 0.8);
    padding     : 13px 14px 14px 14px;
    display     : block;
    border-left : 3px solid transparent;
}

.navigation > li:hover > a {
    border-left      : 3px solid #43b1d6;
    background-color : #2c3a42;
}

.navigation > li > a > i {
    font-size     : 16px;
    padding-right : 5%;
}

.navigation > li ul {
    margin           : 0;
    padding          : 0;
    background-color : rgba(0, 0, 0, 0.15);
    font-size        : 11px;
    list-style       : none;
    z-index          : 1010;
}

.sidebar-narrow .navigation > li > ul {
    background-color : #2d3a42;
}

.navigation > li ul > li {
    border-top : 1px solid rgba(255, 255, 255, 0.05);
}

.navigation > li ul > li:first-child {
    border-top : 0;
}

.navigation > li ul > li.active.has-ul > a,
.navigation > li ul > li.active.has-ul > a:hover {
    background-color : #4a5d64;
}

.navigation > li ul > li.active > a,
.navigation > li ul > li.active > a:hover {
    background-color : rgba(0, 0, 0, 0.2);
}

.navigation > li ul > li.has-ul > a:after {
    content      : "";
    background   : url('#{$general-img-path}ui/plus.png') no-repeat;
    opacity      : 0.4;
    filter       : alpha(Opacity=40);
    margin-top   : 4px;
    float        : right;
    width        : 7px;
    height       : 7px;
    margin-right : 2px;
}

.navigation > li ul > li.has-ul > a:hover:after,
.navigation > li ul > li.active.has-ul > a:after {
    opacity : 1;
    filter  : alpha(Opacity=100);
}

.navigation > li ul > li.active.has-ul > a:after {
    content    : "";
    width      : 7px;
    height     : 7px;
    background : url('#{$general-img-path}ui/minus.png') no-repeat;
}

.navigation > li ul > li.active > a:after {
    content    : "";
    width      : 5px;
    height     : 9px;
    opacity    : 0.9;
    filter     : alpha(Opacity=90);
    margin     : 4px 2px 6px 0;
    float      : right;
    background : url('#{$general-img-path}ui/nav_arrow_right.pn') no-repeat;
}

.navigation > li ul > li > a {
    display : block;
    padding : 13px 14px 14px 24px;
}

.navigation > li ul li a {
    color : rgba(255, 255, 255, 0.8);
}

.navigation > li ul li a:hover,
.navigation > li ul li a:focus,
.navigation > li ul li.active > a {
    color : #ffffff;
}

.navigation > li ul > li > a:hover {
    background : rgba(0, 0, 0, 0.1);
}

.navigation > li ul > li > a .label {
    position : absolute;
    top      : 9px;
    right    : 12px;
}

.navigation > li ul > li.active > a .label {
    right : 30px;
}

.navigation > li ul li ul a {
    display : block;
}

.navigation > li ul > li > ul > li > a {
    padding-left : 30px;
}

.navigation > li ul > li > ul > li > ul > li > a {
    padding-left : 36px;
}

.navigation li.disabled a {
    opacity : 0.4;
    filter  : alpha(Opacity=40);
    cursor  : not-allowed;
}

.navigation li.disabled:hover a {
    background   : none;
    border-color : transparent;
}

.navigation ul li.disabled:hover a {
    color : #cccccc;
}

.navigation > li.disabled:hover > a:after,
.navigation > li.disabled:hover > a > i {
    opacity : 0.5;
    filter  : alpha(Opacity=50);
}

/* Left aligned icons */
.navigation-icons-left > li > a {
    padding-right : 14px;
    padding-left  : 40px;
}

.navigation-icons-left > li > a > i {
    left  : 14px;
    right : auto;
}

@media (max-width : 991px) {
    .navigation {
        margin : 0;
    }

}

/*===== Narrow sidebar navigation ====*/
.sidebar-narrow .navigation > li > a > span {
    display : none;
}

.sidebar-narrow .navigation > li > a {
    padding    : 15px 3px 16px 0;
    width      : 100%;
    text-align : center;
}

.sidebar-narrow .navigation > li > a > i {
    display  : block;
    position : static;
}

.sidebar-narrow .navigation > li ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
}

.sidebar-narrow .navigation > li > ul {
    width                 : 182px;
    border-radius         : 0 2px 2px 0;
    -webkit-border-radius : 0 2px 2px 0;
    -moz-border-radius    : 0 2px 2px 0;
    border-left           : 1px solid rgba(255, 255, 255, 0.1);
    margin-left           : -1px;
    position              : absolute;
    top                   : 0;
    left                  : 100%;
    display               : none;
}

.sidebar-narrow .navigation > li:hover > ul {
    display : block !important;
}

.sidebar-narrow .navigation > li.disabled:hover > ul {
    display : none;
}

.sidebar-narrow .navigation > li > ul > li > a {
    padding-left : 14px;
}

.sidebar-narrow .navigation > li > ul > li:first-child {
    border-top : 0;
}

.sidebar-narrow .navigation > li > ul > li:first-child > a {
    border-radius         : 2px 2px 0 0;
    -webkit-border-radius : 2px 2px 0 0;
    -moz-border-radius    : 2px 2px 0 0;
}

.sidebar-narrow .navigation > li > ul > li:last-child > a {
    border-radius         : 0 0 2px 2px;
    -webkit-border-radius : 0 0 2px 2px;
    -moz-border-radius    : 0 0 2px 2px;
}

@media (max-width : 991px) {
    .page-content {
        margin : 0 25px 0 25px;
    }

    .sidebar {
        left     : -240px;
        position : fixed;
    }

    .sidebar-narrow .sidebar {
        left : -54px;
    }

    .offcanvas-active .sidebar {
        position : absolute;
        left     : 0;
    }

    .offcanvas-active.sidebar-narrow .page-content {
        margin-left : 79px;
    }

    .offcanvas-active .page-content {
        margin-left  : 265px;
        margin-right : 0;
        overflow     : hidden;
    }

    .offcanvas-active .page-content-inner {
        margin-right : -240px;
    }

    .sidebar-narrow.offcanvas-active .page-content-inner {
        margin-right : -54px;
    }

    .sidebar-narrow .page-content {
        margin-left : 25px;
    }

    .sidebar-right .page-content {
        margin : 0 25px 0 25px;
    }

    .sidebar-right.offcanvas-active .sidebar {
        right : 0;
    }

    .sidebar-right .sidebar {
        left  : auto;
        right : -240px;
    }

    .sidebar-right.sidebar-narrow .sidebar {
        left  : auto;
        right : -54px;
    }

    .sidebar-right.sidebar-narrow.offcanvas-active .sidebar {
        right : 0;
    }

    .sidebar-right.sidebar-narrow .page-content {
        margin-left  : 25px;
        margin-right : 25px;
    }

    .sidebar-right.offcanvas-active .page-content {
        margin-right : 265px;
        margin-left  : 0;
    }

    .sidebar-right.sidebar-narrow.offcanvas-active .page-content {
        margin-right : 79px;
    }

    .sidebar-right.offcanvas-active .page-content-inner {
        margin-left  : -240px;
        margin-right : 0;
    }

    .sidebar-right.sidebar-narrow.offcanvas-active .page-content-inner {
        margin-left  : -54px;
        margin-right : 0;
    }

}

@media (max-width : 768px) {
    .page-content {
        margin : 0 15px 0 15px;
    }

    .sidebar-narrow .page-content {
        margin-left : 15px;
    }

    .offcanvas-active .page-content {
        margin-left : 255px;
    }

    .sidebar-narrow .page-content {
        margin-left : 15px;
    }

    .offcanvas-active.sidebar-narrow .page-content {
        margin-left : 69px;
    }

    .sidebar-right .page-content {
        margin : 0 15px 0 15px;
    }

    .sidebar-right.sidebar-narrow .page-content {
        margin-left  : 15px;
        margin-right : 15px;
    }

    .sidebar-right.offcanvas-active .page-content {
        margin-right : 255px;
    }

    .sidebar-right.sidebar-narrow.offcanvas-active .page-content {
        margin-right : 69px;
        margin-left  : 0;
    }

}

/*===== Sidebar user dropdown ====*/
.user-menu > a {
    padding    : 18px 16px;
    display    : block;
    background : #2d3a42 url('#{$general-img-path}ui/nav_arrow_right.png') no-repeat 182px;
}

.user-menu > a img {
    width   : 48px;
    display : block;
    float   : left;
}

.user-menu .dropdown-menu {
    left        : 100%;
    margin-left : 10px;
    top         : 0;
    border      : 0;
}

.sidebar-right .user-menu .dropdown-menu {
    left         : auto;
    right        : 100%;
    margin-left  : 0;
    margin-right : 10px;
}

.user-menu .dropdown-menu:before {
    position      : absolute;
    top           : 25px;
    left          : -7px;
    display       : inline-block;
    border-top    : 7px solid rgba(0, 0, 0, 0);
    border-right  : 7px solid #cccccc;
    border-bottom : 7px solid rgba(0, 0, 0, 0);
    content       : '';
}

.user-menu .dropdown-menu:after {
    position      : absolute;
    top           : 26px;
    left          : -6px;
    display       : inline-block;
    border-top    : 6px solid rgba(0, 0, 0, 0);
    border-right  : 6px solid #ffffff;
    border-bottom : 6px solid rgba(0, 0, 0, 0);
    content       : '';
}

.sidebar-right .user-menu .dropdown-menu:before {
    left         : auto;
    right        : -7px;
    border-right : 0;
    border-left  : 7px solid #cccccc;
}

.sidebar-right .user-menu .dropdown-menu:after {
    left         : auto;
    right        : -6px;
    border-right : 0;
    border-left  : 6px solid #ffffff;
}

.user-menu .popup {
    min-width : 0;
    width     : 220px;
    border    : 1px solid #cccccc;
}

.user-menu .thumbnail {
    padding : 15px 15px 20px 15px;
}

.user-menu .thumb-options,
.user-menu .thumbnail img {
    border-radius         : 50%;
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
}

.user-menu h6,
.user-menu h5,
.user-menu h4 {
    margin-bottom : 0;
    line-height   : 1;
}

.user-menu .popup .list-group {
    margin : -1px;
}

.user-menu .popup .list-group-item {
    border-top-color    : #eeeeee;
    border-bottom-color : #cccccc;
    border-left-color   : #cccccc;
    border-right-color  : #cccccc;
}

.user-info {
    margin-left : 12px;
    float       : left;
    color       : #ffffff;
    font-weight : 400;
    margin-top  : 8px;
}

.user-info span {
    font-size : 11px;
    color     : #999999;
    display   : block;
    margin    : 2px 0 0 0;
}

.sidebar-narrow .user-menu {
    padding : 0;
    display : block;
}

.sidebar-narrow .user-menu > a {
    padding : 20px 8px;
}

.sidebar-narrow .user-menu .user-info {
    display : none;
}

.sidebar-narrow .navigation .context-switch {
    display : none;
}

.sidebar-narrow .user-menu img {
    max-width : 100%;
    float     : none;
}

@media (max-width : 991px) {
    .user-menu .dropdown-menu {
        left : 0;
    }

    .sidebar-narrow .user-menu .dropdown-menu {
        left : 54px;
    }

    .sidebar-right .user-menu .dropdown-menu {
        left  : auto;
        right : 0;
    }

    .sidebar-right.sidebar-narrow .user-menu .dropdown-menu {
        right : 54px;
    }

    .user-menu .dropdown-menu:before,
    .user-menu .dropdown-menu:after {
        content : none;
    }

}

/* # Error and Login pages styling
================================================== */
.error-wrapper {
    padding-bottom : 35px;
}

.page-condensed .error-wrapper {
    padding-top : 35px;
}

.error-wrapper h1 {
    color         : #ffffff;
    font-size     : 200px;
    line-height   : 1;
    margin-bottom : 35px;
    font-weight   : 300;
    display       : block;
    text-shadow   : 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.error-wrapper.offline h1 {
    font-size : 120px;
}

.error-wrapper h6 {
    margin-bottom : 15px;
}

.error-content {
    width  : 440px;
    margin : auto;
}

.error-content input[type=text] {
    background   : #ffffff url('#{$general-img-path}ui/tables/filter.png') no-repeat 12px;
    padding-left : 32px;
}

.login-wrapper {
    width       : 300px;
    position    : absolute;
    left        : 50%;
    top         : 50%;
    margin-left : -150px;
    margin-top  : -150px;
}

.login-wrapper .checkbox,
.login-wrapper .radio {
    margin : 7px 0;
}

.login-wrapper .thumb {
    width  : 150px;
    margin : 0 auto;
}

.login-wrapper .thumb img,
.login-wrapper .thumb-options {
    border-radius         : 50%;
    -webkit-border-radius : 50%;
    -moz-border-radius    : 50%;
}

.login-wrapper .thumbnail h6 {
    margin-bottom : 20px;
}

.login-wrapper .form-control-feedback {
    line-height : 30px;
}

.login-wrapper .social-button .btn {
    height          : 30px;
    line-height     : 30px;
    padding         : 0 7px;
    margin          : 0 9px;
    color           : #ffffff;
    text-decoration : none !important;
}

.login-wrapper .social-button .btn i {
    float  : none;
    margin : 0;
}

.bg-light-blue {
    background-color : #3c8dbc !important;
}

.bg-gray {
    background-color : #333333 !important;
}

.bg-red {
    background-color : #dd4b39 !important;
}

.bg-green-haze {
    background : #44b6ae !important;
}

.bg-yellow-casablanca {
    background : #f2784b !important;
}

.bg-yellow {
    background : #c49f47 !important;
}

.bg-yellow-crusta {
    background : #f3c200 !important;
}

.bg-blue {
    background : #3598dc !important;
}

.bg-purple {
    background : #8e44ad !important;
}

.btn[class*='bg-']:hover {
    -webkit-box-shadow : inset 0 0 100px rgba(0, 0, 0, 0.2);
    box-shadow         : inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.page-condensed .footer {
    position      : absolute;
    bottom        : 0;
    width         : 100%;
    padding-left  : 25px;
    padding-right : 25px;
}

@media (max-width : 480px) {
    .login-wrapper,
    .error-wrapper {
        width         : 100%;
        margin        : 0;
        padding-left  : 15px;
        padding-right : 15px;
        height        : auto;
        position      : static;
    }

    .login-wrapper {
        padding-top    : 35px;
        padding-bottom : 35px;
    }

    .error-wrapper,
    .error-content {
        width : 100%;
    }

    .error-wrapper h1 {
        font-size   : 140px;
        padding-top : 0px;
    }

    .error-wrapper.offline h1 {
        font-size : 100px;
    }

    .page-condensed .error-wrapper {
        padding-top : 35px;
    }

    .page-condensed .footer {
        display : none;
    }

}

.padding_events {
    padding-top    : 10px;
    padding-bottom : 10px;
}

.padding_events:last-child {
    padding-bottom : 0;
}

.padding_events:first-child {
    padding-top : 0;
}

.well_align {
    margin-bottom : 5px;
}

.padding_row_event {
    margin-bottom : 5px;
}

.text_truncation {
    display       : inline-block;
    max-width     : 200px;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

.padding-buttons-calendar {
    padding-top : 22px;
}

@media (max-width : 480px) {
    .page-header .page-title {
        float         : left;
        padding-right : 0px;
    }

    /*Extra Padding*/
    .padding_training_session {
        padding-top : 30px;
    }

    .margin_training_session {
        margin-top : 20px;
    }

    .fc-toolbar .fc-right {
        //display: none;
    }

    .fc-toolbar h2 {
        font-size : 17px;
    }

    .mobile_view_label {
        padding-top : 10px;
    }

}

.radio label,
.checkbox label {
    padding-left : 0;
}

.ui-datepicker .ui-state-available {
}

.ui-datepicker .ui-state-available a {
    color                 : white !important;
    display               : block;
    font-weight           : 600;
    line-height           : 16px;
    padding               : 5px 8px;
    text-align            : center;
    text-decoration       : none;
    background-color      : #d65c4f !important;
    border-radius         : 2px;
    -moz-border-radius    : 2px;
    -webkit-border-radius : 2px;
}

.admin-grid {
    .sub-header {
        color     : #999999;
        font-size : 14px;
    }

    .row + .sub-header {
        margin-top : 30px;
    }

    .list-group-item-text {
        min-height : 2.5em;
    }

    .list-group {
        margin-bottom : 20px;
    }

}

.list-feature {
    .ui-widget-content {
        border     : none;
        background : none;
        margin-top : 15px;
    }

}

.list-categories {
    list-style       : none;
    min-height       : 50px;
    max-height       : 150px;
    padding          : 10px !important;
    border           : 1px solid #dfdfdf;
    background-color : #fdfdfd;
    overflow         : hidden !important;
}

.required:after {
    content : ' *';
    color   : red;
}

.pwstrength_viewport_progress {
    margin-top : 5px;
}

.permission-flag-level-one {
    margin-left : 0px;
    padding-top : 10px;
}

.permission-flag-level-two {
    margin-left : 30px;
    padding-top : 10px;
}

.permission-flag-level-three {
    margin-left : 60px;
    padding-top : 10px;
}

.permission-flag-level-four {
    margin-left : 90px;
    padding-top : 10px;
}

.permission-flag-level-five {
    margin-left : 120px;
    padding-top : 10px;
}

/* ===== Template animations =====*/
@media (min-width : 992px) {
    a,
    .btn,
    .caret,
    .close,
    .navbar-toggle,
    .navbar-header,
    .daterangepicker td,
    .daterangepicker th,
    .date-range > i,
    .date-range:after,
    .media-body .headline-info,
    .ranges ul li,
    .ranges ul li:before,
    .ranges ul li:after,
    .select2-arrow b,
    .select2-highlighted,
    .select2-choice abbr,
    .popup-messages > li > a > strong,
    .activity > li,
    .fancybox-nav span,
    .ui-slider-range,
    .fc-button,
    .dropdown-submenu > a:after,
    .nav-pills > li > a:after,
    .nav-pills .label,
    .nav-tabs .label,
    .dropdown-menu > li > a > i,
    .dropdown-menu .label,
    .dropdown-menu > li > a > img,
    .thumb-zoom img,
    .navigation li a i,
    .thumb-options,
    .ui-datepicker-trigger,
    .checker span,
    .checker span:after,
    .choice span,
    .choice span:after,
    .table-hover > tbody > tr > td,
    .content,
    .ui-timepicker-list li,
    .ui-timepicker-duration,
    .navigation li a:after,
    .has-switch > div > span,
    .has-switch > div > label,
    .has-switch > .switch-animate,
    .panel-trigger > a:after,
    .dropdown-menu > li:before,
    .dropdown-menu > li:after,
    .popup-header a i,
    .jGrowl-close {
        -webkit-transition : all 0.15s ease-in-out;
        -moz-transition    : all 0.15s ease-in-out;
        -o-transition      : all 0.15s ease-in-out;
        transition         : all 0.15s ease-in-out;
    }

}

/* ===== Infinite rotation animation ===== */
.overlay {
    display  : none;
    position : fixed;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 9999;
}

.overlay .opacity {
    background-color : #2c3a3f;
    filter           : alpha(opacity=80);
    opacity          : 0.8;
    width            : 100%;
    height           : 100%;
    position         : relative;
}

.spin {
    display           : inline-block;
    -webkit-animation : rotation 2s linear infinite;
    -moz-animation    : rotation 1s ease infinite;
    -ms-animation     : rotation 1s ease infinite;
    -o-animation      : rotation 1s ease infinite;
    animation         : rotation 1s ease infinite;
}

.overlay .spin {
    font-size   : 16px;
    color       : #ffffff;
    display     : inline-block;
    position    : absolute;
    top         : 50%;
    left        : 50%;
    margin-left : -8px;
    margin-top  : -8px;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform : rotate(0deg);
    }

    100% {
        -webkit-transform : rotate(359deg);
    }

}

@-moz-keyframes indicator {
    0% {
        -moz-transform : rotate(0deg);
    }

    100% {
        -moz-transform : rotate(359deg);
    }

}

@-ms-keyframes indicator {
    0% {
        -ms-transform : rotate(0deg);
    }

    100% {
        -ms-transform : rotate(359deg);
    }

}

@-o-keyframes indicator {
    0% {
        -o-transform : rotate(0deg);
    }

    100% {
        -o-transform : rotate(359deg);
    }

}

@keyframes indicator {
    0% {
        transform : rotate(0deg);
    }

    100% {
        transform : rotate(359deg);
    }

}

.footer {
    padding       : 20px 0 10px;
    font-size     : 11px;
    color         : #ffffff;
    position      : absolute;
    bottom        : 0;
    width         : 100%;
    background    : #222222;
    border-bottom : 4px solid #cc3333;
}

.footer .hidden-xs {
    margin-top : -10px;

    strong {
        vertical-align : middle;
    }

    a {
        img {
            vertical-align : middle;
            width          : 70px;
        }

    }

}

/*===== Navbar popup =====*/
.popup {
    min-width : 300px;
}

.popup-header {
    background            : #2d3a42;
    text-align            : center;
    color                 : #ffffff;
    border-radius         : 2px 2px 0 0;
    -webkit-border-radius : 2px 2px 0 0;
    -moz-border-radius    : 2px 2px 0 0;
}

.popup .popup-header {
    margin : -1px -1px 0 -1px;
}

.popup-header > span {
    display : inline-block;
    margin  : 11px 12px 12px 12px;
}

.popup-header a {
    display     : block;
    color       : #ffffff;
    padding     : 11px 12px 12px 12px;
    line-height : 1;
}

.popup-header a:hover {
    background-color : rgba(0, 0, 0, 0.2);
    color            : #ffffff;
}

.popup-header a i {
    opacity : 0.8;
    filter  : alpha(Opacity=80);
}

.popup-header a:hover i {
    opacity : 1;
    filter  : alpha(Opacity=100);
}

.dropdown-menu .popup-header:after {
    content       : '';
    position      : absolute;
    top           : -7px;
    left          : 13px;
    display       : inline-block;
    border-right  : 6px solid rgba(0, 0, 0, 0);
    border-bottom : 6px solid #32434d;
    border-left   : 6px solid rgba(0, 0, 0, 0);
}

.dropdown-menu.dropdown-menu-right .popup-header:after {
    left  : auto;
    right : 13px;
}

.popup .table {
    min-width : 400px;
}

@media (max-width : 767px) {
    .popup,
    .popup .table {
        min-width : 0;
    }

}

/*===== Navbar messages =====*/
.popup-messages {
    list-style : none;
    margin     : 0;
    padding    : 0;
    max-height : 134px;
    overflow-y : auto;
}

.popup-messages > li {
    border-top : 1px solid #eeeeee;
}

.popup-messages > li:first-child {
    border-top : 0;
}

.popup-messages > li > a {
    padding  : 12px;
    display  : block;
    position : relative;
}

.popup-messages > li > a:hover {
    background-color : #f5fffb;
}

.popup-messages > li > a:hover > strong {
    color : #d65c4f;
}

.popup-messages > li > a > div {
    margin-left : 52px;
}

.popup-messages > li > a > strong {
    display       : block;
    margin-top    : 4px;
    font-weight   : 600;
    color         : #333333;
    padding-right : 20px;
}

.popup-messages > li > a > strong > i {
    position : absolute;
    right    : 12px;
    top      : 15px;
    color    : #cccccc;
}

.popup-messages > li > a > span {
    color     : #676767;
    font-size : 11px;
}

.popup-messages > li.unread > a {
    background : #f9f9f9;
}

.popup-messages > li.unread > a > strong {
    color : #237b91;
}

.user-face {
    width        : 40px;
    height       : 40px;
    float        : left;
    margin-right : 12px;
}

#navbar-icons > li.dropdown-user .dropdown-toggle > img {
    float        : left;
    margin-top   : -5px;
    margin-right : 5px;
    height       : 29px;
    display      : inline-block;
}

#navbar-icons .top-menu {
    margin  : 0;
    padding : 0;
    float   : right
}

#navbar-icons {
    padding      : 0;
    margin-right : 20px;
    display      : block
}

#navbar-icons > li.dropdown {
    margin  : 0;
    height  : 50px;
    display : inline-block
}
@media (max-width: 767px){
   
    #navbar-icons{
        margin-right: 0px;
    }
}
#navbar-icons > li.dropdown:last-child {
    padding-right : 0
}

#navbar-icons > li.dropdown > .dropdown-toggle {
    margin  : 0;
    padding : 16px 10px 10px
}

#navbar-icons > li.dropdown > .dropdown-toggle:last-child {
    padding-right : 0
}

#navbar-icons > li.dropdown > .dropdown-toggle > i {
    font-size : 17px
}

#navbar-icons > li.dropdown > .dropdown-toggle > i.glyphicon {
    font-size : 16px
}

#navbar-icons > li.dropdown > .dropdown-toggle > .badge {
    font-family : Roboto, sans-serif;
    position    : absolute;
    top         : 10px;
    right       : 20px;
    padding     : 3px 7px
}

#navbar-icons > li.dropdown > .dropdown-toggle:focus {
    background : 0 0
}

#navbar-icons > li.dropdown .dropdown-menu {
    margin-top    : 1px;
    border-radius : 4px
}

#navbar-icons > li.dropdown .dropdown-menu > li > a {
    color : #555555
}

#navbar-icons > li.dropdown .dropdown-menu > .active > a {
    color : #ffffff !important;
}

#navbar-icons > li.dropdown .dropdown-menu > li > a {
    &:hover, &:active, &:focus {
        color : #ffffff;
    }
}

#navbar-icons > li.dropdown-extended .dropdown-menu {
    min-width : 160px;
    max-width : 275px;
    width     : 275px;
    z-index   : 9995
}

#navbar-icons > li.dropdown-extended .dropdown-menu > li.external {
    display        : block;
    overflow       : hidden;
    padding        : 15px;
    letter-spacing : .5px;
    border-radius  : 4px 4px 0 0
}

#navbar-icons > li.dropdown-extended .dropdown-menu > li.external > h3 {
    margin    : 0;
    padding   : 0;
    float     : left;
    font-size : 13px;
    display   : inline-block
}

#navbar-icons > li.dropdown-extended .dropdown-menu > li.external > a {
    display    : inline-block;
    padding    : 0;
    background : 0 0;
    clear      : inherit;
    font-size  : 13px;
    position   : absolute;
    right      : 10px;
    border     : 0;
    margin-top : -1px
}

#navbar-icons > li.dropdown-extended .dropdown-menu > li.external > a:hover {
    text-decoration : none
}

#navbar-icons > li.dropdown-extended .dropdown-menu .dropdown-menu-list {
    padding-right : 0 !important;
    padding-left  : 0;
    list-style    : none
}

#navbar-icons > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    display     : block;
    clear       : both;
    line-height : 20px;
    white-space : normal;
    font-size   : 13px;
    padding     : 16px 15px 18px;
    text-shadow : none
}

#navbar-icons > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
    opacity         : 1;
    filter          : alpha(opacity=100);
    text-decoration : none
}

#navbar-icons > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li:first-child a {
    border-top : none
}

#navbar-icons > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon {
    margin-right  : 10px;
    border-radius : 50%
}

#navbar-icons > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon i {
    margin-right : 2px;
    margin-left  : 1px
}

#navbar-icons > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .details .label-icon .badge {
    right : 15px
}

#navbar-icons > li.dropdown-notification .dropdown-menu .dropdown-menu-list > li a .time {
    float      : right;
    max-width  : 75px;
    font-size  : 11px;
    opacity    : .7;
    filter     : alpha(opacity=70);
    text-align : right;
    padding    : 1px 5px
}

#navbar-icons > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .photo {
    float  : left;
    margin : 0 6px 6px 0
}

#navbar-icons > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .photo img {
    height        : 40px;
    width         : 40px;
    border-radius : 50% !important
}

#navbar-icons > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject {
    display     : block;
    margin-left : 46px
}

#navbar-icons > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject .from {
    font-size   : 13px;
    font-weight : 600
}

#navbar-icons > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .subject .time {
    font-size   : 12px;
    font-weight : 400;
    opacity     : .5;
    filter      : alpha(opacity=50);
    float       : right
}

#navbar-icons > li.dropdown-inbox > .dropdown-menu .dropdown-menu-list > li .message {
    display     : block !important;
    font-size   : 12px;
    line-height : 1.3;
    margin-left : 46px
}

#navbar-icons > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .task {
    margin-bottom : 5px
}

#navbar-icons > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .task .desc {
    font-size : 13px;
}

#navbar-icons > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .task .percent {
    float       : right;
    font-weight : 600;
    display     : inline-block
}

#navbar-icons > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .progress {
    display : block;
    height  : 8px;
    margin  : 8px 0 2px
}

#navbar-icons > li.dropdown-user .dropdown-toggle {
    padding : 16px 6px 13px 8px
}

#navbar-icons > li.dropdown-user .dropdown-toggle > .username {
    display   : inline-block;
    font-size : 13px;
}

#navbar-icons > li.dropdown-user .dropdown-toggle > img {
    float        : left;
    margin-top   : -5px;
    margin-right : 5px;
    height       : 29px;
    display      : inline-block
}

#navbar-icons > li.dropdown-user .dropdown-toggle > i {
    display   : inline-block;
    margin    : 0;
    font-size : 13px
}

#navbar-icons > li.dropdown-user .dropdown-menu {
    width : 175px
}

#navbar-icons > li.dropdown-user .dropdown-menu > li > a {
    font-size : 14px;
}

#navbar-icons > li.dropdown-user .dropdown-menu > li > a i {
    width        : 15px;
    display      : inline-block;
    margin-right : 9px
}

#navbar-icons > li.dropdown-user .dropdown-menu > li > a .badge {
    margin-right : 10px
}

#navbar-icons > li.dropdown-language {
    padding-left  : 0;
    padding-right : 0;
    margin        : 0
}

#navbar-icons > li.dropdown-language > .dropdown-toggle {
    padding : 16px 3px 13px 7px
}

#navbar-icons > li.dropdown-language > .dropdown-toggle > img {
    margin-bottom : 2px
}

#navbar-icons > li.dropdown-language > .dropdown-toggle > i {
    font-size : 14px
}

#navbar-icons > li.dropdown-language > .dropdown-menu > li > a {
    font-size : 13px
}

#navbar-icons > li.dropdown-language > .dropdown-menu > li > a > img {
    margin-bottom : 2px;
    margin-right  : 5px
}

#navbar-icons li.dropdown-dark .dropdown-menu:before {
    border-left  : none;
    border-right : none
}

#navbar-icons li.dropdown-dark .dropdown-menu .dropdown-menu-list > li.external a {
    background : 0 0 !important;
    border     : none !important
}

.thumbnail {
    display            : block;
    padding            : 4px;
    margin-bottom      : 20px;
    line-height        : 1.42857143;
    background-color   : #ffffff;
    border             : 1px solid #dddddd;
    border-radius      : 0;
    -webkit-transition : border .2s ease-in-out;
    -o-transition      : border .2s ease-in-out;
    transition         : border .2s ease-in-out;
}

.img-thumbnail-wrap {
    width               : 100%;
    height              : 300px;
    background-position : center center;
    background-repeat   : no-repeat;
    background-size     : cover;
}

.form-actions {
    &.form-actions-fixed-top {
        margin-top : 0;
        left       : 200px !important;
    }
}

#table-backups th {
    background-color : #36c6d3 !important;
    color            : #ffffff !important;
}

.badge.badge-default, .badge.badge-success {
    background-color : #36c6d3;
    color            : #ffffff;
}