@font-face {
  font-family:'Montserrat';
  src:url("../fonts/montserrat-light.ttf");
  font-weight:200;
}

@font-face {
  font-family:'Montserrat';
  src:url("../fonts/montserrat-regular.ttf");
  font-weight:300;
}

@font-face {
  font-family:'Montserrat';
  src:url("../fonts/montserrat-medium.ttf");
  font-weight:400;
}

@font-face {
  font-family:'Montserrat';
  src:url("../fonts/montserrat-semibold.ttf");
  font-weight:500;
}

@font-face {
  font-family:'Montserrat';
  src:url("../fonts/montserrat-bold.ttf");
  font-weight:600;
}

@font-face {
  font-family:'Montserrat';
  src:url("../fonts/montserrat-black.ttf");
  font-weight:700;
}

@font-face {
  font-family:'TexGyreAdventor';
  src:url("../fonts/texgyreadventor-bold.otf");
  font-weight:600;
}

@font-face {
  font-family:'TexGyreAdventor';
  src:url("../fonts/texgyreadventor-regular.otf");
  font-weight:300;
}

@font-face {
  font-family:'TexGyreAdventor';
  src:url("../fonts/texgyreadventor-medium.otf");
  font-weight:400;
}

@font-face {
  font-family:'New-Montserrat';
  src:url("../fonts/montserrat-v12-vietnamese_latin-ext-regular.ttf");
  font-weight:200;
}

@font-face {
  font-family:'New-Montserrat';
  src:url("../fonts/montserrat-v12-vietnamese_latin-ext-500.ttf");
  font-weight:300;
}

@font-face {
  font-family:'New-Montserrat';
  src:url("../fonts/montserrat-v12-vietnamese_latin-ext-600.ttf");
  font-weight:500;
}

@font-face {
  font-family:'New-Montserrat';
  src:url("../fonts/montserrat-v12-vietnamese_latin-ext-700.ttf");
  font-weight:600;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  margin:0;
}

.toogle-quantity {
  width:30%;
  position:relative;
  float:left;
}

.toogle-quantity .quantity-button {
  position:absolute;
  border:none;
  background-color:#ccc;
  height:40px;
  width:30px;
  top:0;
}

.toogle-quantity .quantity-button .fa {
  color:#000;
}

.toogle-quantity .quantity-left-minus {
  left:0;
}

.toogle-quantity .quantity-right-plus {
  right:0;
}

body {
  font-family:'New-Montserrat',sans-serif !important;
  font-weight:300;
  background-color:#fff;
}

.modal-backdrop.out {
  opacity:0;
}

header:not(.index) .search-box .search-content {
  -moz-box-shadow:0 1px 10px #555;
  -webkit-box-shadow:0 1px 10px #555;
  box-shadow:0 1px 10px #555;
}

header:not(.index) .cart .cart-info {
  -moz-box-shadow:0 1px 10px #555;
  -webkit-box-shadow:0 1px 10px #555;
  box-shadow:0 1px 10px #555;
}

header:not(.index) .has-mega .mega-menu {
  -moz-box-shadow:0 3px 8px 0 #555;
  -webkit-box-shadow:0 3px 8px 0 #555;
  box-shadow:0 3px 8px 0 #555;
}

#popup-cart .quickview-close {
  top:0;
  right:0;
  color:#fff;
  padding:8px 15px;
  border-radius:unset;
}

#popup-cart .popup-cart-thead {
  color:#ba933e;
  font-size:18px;
}

#popup-cart .popup-cart-left,
#popup-cart .popup-cart-right {
  width:50%;
  float:left;
}

#popup-cart .popup-cart-pro-name {
  font-size:15px;
  color:#000;
}

#popup-cart .popup-cart-pro-price {
  font-size:20px;
  font-weight:500;
}

#popup-cart .popup-cart-right .popup-cart-title {
  font-size:18px;
  color:#000;
  font-weight:500;
}

#popup-cart .popup-cart-right .popup-cart-num-pro {
  color:#6e6e6e;
  font-size:14px;
}

#popup-cart .popup-cart-right .pop-cart-continue {
  color:#ba933e;
  text-decoration:underline;
  padding-bottom:2px;
}

#popup-cart .popup-cart-right .popup-cart-checkout {
  display:inline-block;
  padding:7px 15px;
  background-color:#ba933e;
  color:#fff;
  float:right;
}

#popup-cart .popup-cart-right .popup-cart-checkout:hover {
  text-decoration:none;
}

#popup-cart .popup-cart-right ul {
  margin-bottom:10px;
}

#popup-cart .popup-cart-right ul li {
  font-size:15px;
  color:#000;
  border-bottom:1px solid #d7d7d7;
  padding:15px 0;
}

#popup-cart .popup-cart-right ul li .popup-cart-price {
  float:right;
  font-size:14px;
}

#popup-cart .popup-cart-right ul li .sub-total-money {
  color:#6e6e6e;
}

#popup-cart .popup-cart-right ul li:last-child {
  border-bottom:none;
}

#popup-cart .popup-cart-product {
  margin-top:10px;
}

#popup-cart .popup-cart-product .popup-cart-pro-img {
  float:left;
  width:40%;
  text-align:center;
}

#popup-cart .popup-cart-product .popup-cart-pro-img img {
  max-height:200px;
}

#popup-cart .popup-cart-product .popup-cart-pro-des {
  float:left;
  padding-left:15px;
}

#popup-cart #popup-cart-desktop {
  width:900px;
  padding:15px;
}

header.index {
  background-color:rgba(0,0,0,0.8);
}

@media (max-width:991px) {
  header.index {
    background-color:rgba(0,0,0,0.85);
  }
}

header:not(.index) {
  background-color:#2e2e2e;
}

header {
  height:155px;
  position:absolute;
  top:0;
  width:100%;
  z-index:10;
}

@media (max-width:767px) {
  header {
    height:110px;
  }
}

header .sub-menu {
  height:55px;
  border-bottom:1px solid #262626;
}

@media (max-width:767px) {
  header .sub-menu {
    height:35px;
    border-bottom:1px solid #393939;
  }
}

@media (max-width:767px) {
  header .sub-menu .left-col {
    padding-right:0;
  }
}

header .sub-menu .left-col .hotline {
  color:#666;
  padding-top:15px;
  margin-bottom:0;
}

header .sub-menu .left-col .hotline a {
  color:inherit;
}

@media (max-width:767px) {
  header .sub-menu .left-col .hotline {
    font-size:10px;
    padding-top:11px;
    color:#bbb;
  }
}

@media (min-width:768px) and (max-width:991px) {
  header .sub-menu .left-col .hotline {
    padding-top:18px;
  }
}

header .sub-menu .right-col {
  padding-left:0;
  padding-right:0;
}

header .sub-menu .right-corner {
  display:block;
  margin-left:10px;
  text-align:right;
}

header .sub-menu .right-corner .social-icon {
  font-size:16px;
  border-right:1px solid #262626;
  padding-right:15px;
}

header .sub-menu .right-corner .social-icon .active {
  color:#fff;
}

header .sub-menu .right-corner .social-icon a:hover {
  color:#fff;
}

header .sub-menu .right-corner ul {
  display:inline-block;
  list-style-type:none;
  color:#666;
  padding:0;
  margin:0;
  height:55px;
  padding-top:15px;
}

header .sub-menu .right-corner ul li {
  display:inline-block;
  margin-right:20px;
}

header .sub-menu .right-corner ul li a {
  color:inherit;
}

header .sub-menu .right-corner ul li a.active {
  color:#bbb;
}

header .sub-menu .right-corner .login-and-register {
  display:inline-block;
  margin-left:10px;
  color:#666;
  margin-top:15px;
}

@media (max-width:767px) {
  header .sub-menu .right-corner .login-and-register {
    margin-left:0;
    margin-top:7px;
    color:#bbb;
    float:right;
  }
}

header .sub-menu .right-corner .login-and-register a {
  color:inherit;
  font-size:14px;
}

@media (max-width:767px) {
  header .sub-menu .right-corner .login-and-register a {
    font-size:11px;
  }
}

header .sub-menu .right-corner .login-and-register a.active,
header .sub-menu .right-corner .login-and-register a:hover {
  color:#bbb;
}

@media (max-width:767px) {
  header .main-menu .menu-mobile-col {
    padding-right:0;
  }
  header .main-menu .menu-mobile-col .btn-cate-menu {
    text-align:center;
  }
}

header .main-menu .rotate-90 {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
}

header .main-menu .display-menu {
  text-align:center;
  color:#fff;
}

header .main-menu .display-menu .btn-cate-menu {
  color:inherit;
  display:block;
  margin-top:40px;
}

@media (min-width:768px) and (max-width:991px) {
  header .main-menu .display-menu .btn-cate-menu {
    margin-right:30px;
    text-align:right;
  }
}

@media (max-width:767px) {
  header .main-menu .display-menu .btn-cate-menu {
    margin-top:24px;
  }
}

header .main-menu .display-menu .btn-cate-menu .fa {
  font-size:25px;
  color:#bbb;
}

header .main-menu .logo-col .logo {
  display:block;
  padding-top:11px;
  width:131px;
  height:27px;
}

@media (max-width:767px) {
  header .main-menu .logo-col .logo {
    width:105px;
    height:auto;
    padding-top:1px;
  }
}

header .main-menu ul:not(.right-menu) {
  padding:0;
  margin:0;
  list-style-type:none;
  padding-left:30px;
  padding-top:40px;
  height:100px;
}

header .main-menu ul:not(.right-menu) li {
  display:inline-block;
  color:#ccc;
  padding-right:40px;
}

@media (min-width:992px) and (max-width:1199px) {
  header .main-menu ul:not(.right-menu) li {
    padding-right:40px;
  }
}

header .main-menu ul:not(.right-menu) li a {
  color:inherit;
  font-size:15px;
  text-transform:uppercase;
  text-decoration:none;
  display:inline-block;
  position:relative;
  padding-bottom:28px;
}

@media (min-width:768px) and (max-width:991px) {
  header .main-menu ul:not(.right-menu) li a {
    text-transform:none;
    padding-bottom:15px;
  }
}

header .main-menu ul:not(.right-menu) li a.active {
  color:#ba933e;
}

header .main-menu ul:not(.right-menu) li a:hover {
  color:#ba933e;
  border-bottom:7px solid #ba933e;
}

header .main-menu ul:not(.right-menu) li:last-child {
  padding-right:0;
}

header .main-menu ul:not(.right-menu) li:last-child .mega-menu {
  left:unset;
  right:-300px;
}

header .main-menu ul.mobile-main-menu {
  background-color:#e9e9e9;
  width:100%;
  top:154px;
  position:absolute;
  height:unset !important;
  padding-top:20px;
  padding-left:20px;
  display:none;
  padding-right:10px;
}

header .main-menu ul.mobile-main-menu li {
  display:block;
  color:#333;
  padding-right:0;
}

header .main-menu ul.mobile-main-menu li>a:hover {
  border-bottom:none;
}

header .main-menu ul.mobile-main-menu li .has-mega-icon {
  position:absolute;
  top:5px;
  right:25px;
  color:#555;
}

header .main-menu ul.mobile-main-menu li.has-mega {
  margin-bottom:10px;
}

@media (max-width:767px) {
  header .main-menu ul.mobile-main-menu {
    top:110px;
  }
}

header .main-menu ul.mobile-main-menu .mega-menu {
  padding-right:15px;
  box-shadow:unset;
}

@media (min-width:1200px) {
  header .main-menu .has-mega:hover .mega-menu {
    transform:translateY(0);
    opacity:1;
    visibility:visible;
  }
}

header .main-menu .has-mega {
  position:relative;
}

@media (max-width:991px) {
  header .main-menu .has-mega>a {
    padding-bottom:13px !important;
  }
}

@media (min-width:1200px) {
  header .main-menu .has-mega .mega-menu {
    transform:translateY(-10px);
    transition:all 0.2s linear;
    position:absolute;
    opacity:0;
    visibility:hidden;
    top:59px;
    left:-410px;
    width:1120px;
  }
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu {
    position:unset;
    width:100%;
    padding-left:20px;
    display:none;
    margin-top:-25px;
  }
}

header .main-menu .has-mega .mega-menu ul.ul-mega {
  padding-top:15px;
}

header .main-menu .has-mega .mega-menu .menu-footer {
  clear:both;
}

header .main-menu .has-mega .mega-menu .menu-footer p {
  color:#666;
  font-size:13px;
  border-top:1px solid #e4d8be;
  padding-top:20px;
}

header .main-menu .has-mega .mega-menu .describe-menu {
  margin-top:0;
  min-height:80px;
  margin-top:10px;
  margin-bottom:10px;
}

header .main-menu .has-mega .mega-menu .describe-menu .col-md-4 {
  margin-bottom:20px;
}

header .main-menu .has-mega .mega-menu .describe-menu .icon-describe {
  color:#fff;
  width:50px;
  height:50px;
  background-color:#ba933e;
  display:inline-block;
  border-radius:50%;
  padding-top:14px;
  text-align:center;
  float:left;
  margin-top:7px;
}

header .main-menu .has-mega .mega-menu .describe-menu .icon-describe .fa {
  font-size:20px;
}

header .main-menu .has-mega .mega-menu .describe-menu .describe-content {
  width:calc(100% - 50px);
  float:left;
  padding-left:15px;
}

header .main-menu .has-mega .mega-menu .describe-menu .describe-content .describe-header {
  color:#333;
  font-size:17px;
  font-weight:500;
  margin-bottom:5px;
}

header .main-menu .has-mega .mega-menu .describe-menu .describe-content .describe-text {
  color:#777;
  font-size:13px;
  display:inline-block;
  line-height:19px;
}

header .main-menu .has-mega .mega-menu .menu-links {
  border-top:1px solid #e4d8be;
  padding-top:15px;
  margin-bottom:15px;
  min-height:200px;
}

header .main-menu .has-mega .mega-menu .menu-links ul {
  width:100%;
  float:left;
}

header .main-menu .has-mega .mega-menu .menu-links ul li:nth-child(5n+1) {
  clear:both;
}

header .main-menu .has-mega .mega-menu .menu-links .menu-category-link {
  float:left;
  width:calc(100% - 600px);
  padding-top:13px;
}

header .main-menu .has-mega .mega-menu .menu-links .menu-category-link a {
  float:left;
  width:48%;
}

header .main-menu .has-mega .mega-menu .menu-links .menu-category-link a:first-child {
  margin-right:10px;
}

header .main-menu .has-mega .mega-menu .menu-links .menu-category-link a:hover {
  border-bottom:none;
}

header .main-menu .has-mega .mega-menu .row {
  background:#e9e9e9;
  padding:15px 20px;
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu .row {
    padding:0 15px;
  }
}

header .main-menu .has-mega .mega-menu p.col-title {
  font-size:17px;
  color:#333;
  padding-bottom:25px;
  position:relative;
  text-transform:uppercase;
  font-weight:500;
}

header .main-menu .has-mega .mega-menu p.col-title:before {
  content:"";
  position:absolute;
  width:30px;
  height:3px;
  bottom:0;
  left:0;
  border-bottom:3px solid #ba933e;
}

header .main-menu .has-mega .mega-menu hr {
  clear:both;
  border-top-color:#e4d7be;
}

header .main-menu .has-mega .mega-menu ul {
  height:unset;
  padding-left:unset;
  padding-top:0;
}

header .main-menu .has-mega .mega-menu ul li.link2 {
  padding-right:unset;
  display:block;
  float:left;
  width:20%;
  padding-top:10px;
  padding-bottom:10px;
  position:relative;
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu ul li.link2 {
    width:100%;
  }
}

header .main-menu .has-mega .mega-menu ul li.link2>.item-open {
  display:block;
  font-size:12px;
  position:absolute;
  top:14px;
  right:30px;
  color:#555;
  cursor:pointer;
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu ul li.link2>.item-open {
    right:10px;
  }
}

header .main-menu .has-mega .mega-menu ul li.link2>a {
  font-size:17px;
  color:#222;
  text-transform:unset;
  width:100%;
  padding-bottom:20px;
  text-transform:uppercase;
  padding-top:0;
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu ul li.link2>a {
    font-size:15px;
    color:#333;
    text-transform:unset;
    padding-bottom:0;
  }
}

header .main-menu .has-mega .mega-menu ul li.link2 a:hover {
  color:#ba933e;
  border-bottom:none;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul {
  display:block;
  margin:0;
  padding-top:20px;
  margin-bottom:-10px;
  width:100%;
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul {
    padding-top:15px;
    padding-left:20px;
    display:none;
  }
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul li a {
  color:#333;
  text-transform:none;
  padding-bottom:15px;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul li a:hover {
  color:#ba933e;
  border-bottom:none;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3:hover .sub-ul-2 {
  display:block;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3 {
  width:100%;
  padding-right:20px;
  position:relative;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3 .sub-ul-2 {
  padding-left:15px;
  display:none;
  width:100%;
}

@media (max-width:1199px) {
  header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3 .sub-ul-2 {
    display:none;
  }
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3 .sub-ul-2 li {
  width:100%;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3 .sub-ul-2 li:hover a {
  padding-left:5px;
}

header .main-menu .has-mega .mega-menu ul li.link2 .sub-ul .link3 .item-open {
  display:block;
  font-size:12px;
  position:absolute;
  top:3px;
  right:30px;
  color:#555;
  cursor:pointer;
}

header .main-menu .right-menu {
  float:right;
}

header .main-menu .search,
header .main-menu .cart {
  color:#bbb;
  font-size:20px;
  display:inline-block;
  padding-top:33px;
  padding-bottom:39px;
}

@media (max-width:767px) {
  header .main-menu .search,
  header .main-menu .cart {
    padding-bottom:21px !important;
    padding-top:19px !important;
  }
}

header .main-menu .search:hover .search-box {
  transform:translateY(0);
  opacity:1;
  visibility:visible;
}

header .main-menu .search {
  padding-left:10px;
  cursor:pointer;
  padding-bottom:39px;
  padding-right:10px;
}

header .main-menu .search .search-icon {
  color:#bbb;
}

header .main-menu .search .search-box {
  transform:translateY(-10px);
  opacity:0;
  position:absolute;
  bottom:-68px;
  right:0;
  transition:all 300ms linear;
  visibility:hidden;
}

header .main-menu .search .search-box .search-content {
  position:relative;
}

header .main-menu .search .search-box .search-content input {
  color:#111;
  padding-left:15px;
  height:45px;
  width:300px;
  border:none !important;
  background-color:#f6f6f6;
  font-size:15px;
}

header .main-menu .search .search-box .search-content button {
  padding:0 12px;
  height:45px;
  border:none !important;
  position:absolute;
  background-color:#f6f6f6;
  top:0;
  right:0;
}

header .main-menu .search .search-box .search-content button .fa {
  color:#333;
  font-size:20px;
}

header .main-menu .cart:hover .cart-info {
  opacity:1;
  transform:translateY(0);
  visibility:visible;
}

header .main-menu .cart {
  position:relative;
  padding-right:10px;
  padding-left:10px;
  margin-left:30px;
}

@media (max-width:767px) {
  header .main-menu .cart {
    margin-left:20px;
  }
}

header .main-menu .cart .go-cart-page {
  color:#bbb;
  position:relative;
}

header .main-menu .cart .go-cart-page .item-number {
  position:absolute;
  top:-4px;
  right:-6px;
  font-size:9px;
  padding-top:1px;
  background-color:#ba933e;
  border-radius:50%;
  display:inline-block;
  color:#fff;
  text-align:center;
  width:16px;
  height:16px;
}

header .main-menu .cart .cart-info {
  background:#fff;
  position:absolute;
  top:99px;
  width:365px;
  right:0;
  transform:translateY(-10px);
  transition:all 0.3s linear;
  opacity:0;
  visibility:hidden;
}

header .main-menu .cart .cart-info .no-item {
  text-align:center;
  font-size:14px;
  color:#222;
  padding-top:11px;
}

header .main-menu .cart .cart-info .list-cart-item {
  margin:0 20px;
  max-height:295px;
  overflow-y:auto;
}

header .main-menu .cart .cart-info .list-cart-item .item {
  width:100%;
  overflow:auto;
  border-bottom:1px solid #eaeaea;
  padding:20px 0;
  clear:both;
}

header .main-menu .cart .cart-info .list-cart-item .item .item-image {
  display:inline-block;
  float:left;
}

header .main-menu .cart .cart-info .list-cart-item .item .item-image img {
  max-width:80px;
  max-height:120px;
}

header .main-menu .cart .cart-info .list-cart-item .item .cart-item-info {
  width:calc(100% - 80px);
  float:left;
  padding-left:20px;
  word-break:break-word;
}

header .main-menu .cart .cart-info .list-cart-item .item .cart-item-info .item-name {
  font-size:14px;
  color:#888;
  margin-bottom:5px;
}

header .main-menu .cart .cart-info .list-cart-item .item .cart-item-info .item-price {
  font-size:16px;
  color:#333;
  font-weight:500;
  margin-bottom:0;
}

header .main-menu .cart .cart-info .list-cart-item .item .cart-item-info .item-quantity {
  font-size:14px;
  color:#ba933e;
}

header .main-menu .cart .cart-info .summary {
  clear:both;
  color:#ba933e;
  font-weight:500;
  font-size:18px;
  padding-left:20px;
  padding-top:20px;
  margin-bottom:20px;
}

header .main-menu .cart .cart-info .summary span {
  color:#333;
}

header .main-menu .cart .cart-info .check-out {
  width:100%;
  clear:both;
  display:inline-block;
  height:74px;
  color:#ba933e;
  text-transform:uppercase;
  background-color:#000;
  text-align:center;
  padding-top:23px;
  text-decoration:none;
}

header .main-menu .cart-col {
  padding-left:0;
  padding-right:0;
}

.banner {
  position:relative;
  margin-bottom:0;
}

@media (min-width:1200px) {
  .banner {
    background-color:#fff;
    width:100%;
    height:100vh;
    z-index:0;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .banner {
    padding-top:155px;
  }
}

@media (max-width:767px) {
  .banner {
    padding-top:110px;
  }
}

.banner .owl-theme .owl-dots .owl-dot.active span {
  background-color:#ba933e;
}

.banner .owl-theme .owl-dots .owl-dot span {
  width:7px;
  height:7px;
}

.banner .sliders .slide-content {
  width:100%;
  max-height:100vh;
}

.banner .sliders h2 {
  font-size:112.18px;
  font-weight:600;
  color:#fff;
}

.banner .sliders p {
  color:#ba933e;
  font-size:87.85px;
  font-family:'Roboto';
  font-weight:100;
  margin-top:-48px;
}

.banner .sliders span {
  font-size:15px;
  font-family:Roboto;
  font-weight:300;
  color:#999;
  text-transform:uppercase;
  margin-top:-22px;
  display:block;
}

.banner .sliders .see-now {
  display:inline-block;
  padding:14px 42px;
  border:2px solid #ba933e;
  color:#ba933e;
  position:absolute;
  bottom:27%;
  left:50%;
  font-size:16px;
  text-transform:uppercase;
  text-decoration:none;
}

.banner .sliders .see-now.active {
  background-color:#ba933e;
}

.banner .sliders .see-now:hover {
  text-decoration:none;
  background-color:#ba933e;
  color:#fff;
}

.banner .sliders .see-now {
  margin-right:4px;
}

@media (max-width:991px) {
  .banner .sliders .owl-nav {
    display:none;
  }
}

.banner .sliders .owl-prev {
  left:30px;
  top:50%;
}

.banner .sliders .owl-next {
  right:30px;
  top:50%;
}

.banner .sliders .owl-dots {
  position:absolute;
  text-align:center;
  margin:0 auto;
  left:0;
  right:0;
  margin-left:0;
  margin-right:0;
  bottom:3%;
}

.banner .activity-icon {
  padding:17px;
  color:#000;
  display:block;
  background-color:#fff;
  position:absolute;
  top:60%;
  border:2px solid #303030;
  cursor:pointer;
}

.banner .activity-icon .fa {
  font-size:20px;
}

.banner .activity-icon:hover {
  color:#fff;
  background-color:#ba933e;
  border-color:#ba933e;
}

.banner .prev-icon {
  left:50px;
}

.banner .next-icon {
  right:50px;
}

.banner .dot-bottom {
  position:absolute;
  bottom:41px;
  left:0;
  right:0;
  margin:0 auto;
  width:150px;
  text-align:center;
  height:20px;
}

.banner .dot-bottom ul {
  padding:0;
  margin:0;
  list-style-type:none;
}

.banner .dot-bottom ul li {
  cursor:pointer;
  width:10px;
  height:10px;
  border:2px solid #ba933e;
  display:inline-block;
  margin-right:6px;
  background-color:#000;
}

.banner .dot-bottom ul li:hover {
  background-color:#ba933e;
}

.banner .slide-1 {
  background:url(banner.png);
  background-position:top center;
  background-size:cover;
}

.general-button {
  color:#fff;
  font-size:14px;
  display:block;
  padding:5px 10px;
  background-color:#ba933e;
}

.general-button:hover {
  background-color:#997933;
  color:#fff;
  text-decoration:none;
}

.owl-theme .owl-nav [class*='owl-'] {
  border-radius:0 !important;
}

.owl-nav {
  display:block;
}

@media (max-width:767px) {
  .owl-nav {
    display:none;
  }
}

.owl-prev {
  left:-31px;
}

@media (min-width:768px) and (max-width:991px) {
  .owl-prev {
    left:-15px;
  }
}

.owl-next {
  right:-31px;
}

@media (min-width:768px) and (max-width:991px) {
  .owl-next {
    right:-15px;
  }
}

.owl-prev:hover,
.owl-next:hover {
  color:#fff !important;
  background-color:#ba933e !important;
  border-color:#ba933e !important;
  opacity:1 !important;
}

.owl-prev,
.owl-next {
  padding:18px 17px 15px !important;
  color:#000 !important;
  display:block !important;
  background-color:#fff !important;
  position:absolute;
  top:142px;
  border:2px solid #474747;
  cursor:pointer;
  z-index:20;
  opacity:0.8;
}

.owl-prev .fa,
.owl-next .fa {
  font-size:20px;
}

.collection-slide {
  z-index:10;
  margin-bottom:0;
}

.collection-slide .container {
  padding-top:63px;
  padding-bottom:99px;
}

@media (max-width:991px) {
  .collection-slide .container {
    padding-top:30px;
    padding-bottom:60px;
  }
}

@media (max-width:767px) {
  .collection-slide .container {
    padding-top:5px;
    padding-bottom:35px;
  }
}

.collection-slide .owl-prev,
.collection-slide .owl-next {
  top:120px;
}

.collection-slide h2 {
  padding-bottom:27px;
  position:relative;
  line-height:46px;
  padding-top:2px;
  font-size:46px;
  font-weight:500;
  color:#000;
}

@media (min-width:992px) {
  .collection-slide h2 {
    margin-left:-16px;
  }
}

.collection-slide h2 span {
  display:block;
}

@media (max-width:767px) {
  .collection-slide h2 {
    font-size:30px;
    padding-top:30px;
    margin-top:0;
    padding-bottom:20px;
  }
}

.collection-slide h2:before {
  content:"";
  position:absolute;
  width:35px;
  height:5px;
  bottom:0;
  left:0;
  border-bottom:5px solid #ba933e;
}

.collection-slide p {
  font-size:15px;
  color:#888;
  margin-top:15px;
  line-height:20px;
}

@media (min-width:992px) {
  .collection-slide p {
    margin-left:-15px;
    padding-right:25px;
  }
}

@media (max-width:767px) {
  .collection-slide p {
    font-size:13px;
    margin-top:0;
  }
}

.collection-slide .general-button {
  display:inline-block;
  padding:11px 30px;
  margin-top:10px;
  background-color:#000;
}

@media (min-width:992px) {
  .collection-slide .general-button {
    margin-left:-16px;
    margin-top:34px;
  }
}

.collection-slide .general-button:hover {
  background-color:#ba933e;
}

.collection-slide .swiper-block {
  position:relative;
  padding-top:27px;
}

.collection-slide .owl-item a {
  width:100%;
  max-height:304px;
}

.collection-slide .owl-item a img {
  max-width:100%;
  max-height:304px;
  height:auto;
  width:unset;
  display:block;
  margin:0 auto;
}

@media (max-width:767px) {
  .collection-slide .owl-item a img {
    max-width:400px;
    max-height:250px;
  }
}

@media (min-width:1200px) {
  .collection-slide .owl-item a img {
    width:100%;
    height:304px;
  }
}

.daily-deal {
  background:url("../images/new-daily-deal-bg.jpg") top center no-repeat;
  background-size:cover;
  margin-bottom:60px;
}

@media (max-width:991px) {
  .daily-deal {
    background:url("../images/new-mobile-dailydeal-bg.jpg") top center no-repeat;
    background-size:cover;
  }
}

@media (max-width:767px) {
  .daily-deal {
    margin-bottom:0;
  }
}

@media (min-width:768px) and (max-width:1199px) {
  .daily-deal {
    padding-bottom:25px;
  }
}

.daily-deal .daily-deal-content h2 {
  color:#fff;
  font-size:46px;
  font-weight:500;
  margin-bottom:0;
}

@media (max-width:767px) {
  .daily-deal .daily-deal-content h2 {
    font-size:30px;
    padding-top:30px;
    margin-top:0;
    padding-bottom:20px;
  }
}

@media (min-width:768px) {
  .daily-deal .daily-deal-content h2 {
    padding-top:50px;
  }
}

.daily-deal .daily-deal-content .product-detail .price {
  color:#eee;
}

.daily-deal .daily-deal-content .product-detail .add-to-cart {
  color:#fff;
}

.daily-deal .daily-deal-content .product-detail .add-to-cart:hover {
  border-bottom-color:#fff;
}

.daily-deal .daily-deal-content .product-detail hr {
  background-color:#9c7f5f;
}

.daily-deal .daily-deal-content .product-detail .product-name {
  color:#eee;
}

.daily-deal .daily-deal-content .sub-title {
  color:#ba933e;
  font-size:18px;
  display:inline-block;
  margin-top:-4px;
}

@media (max-width:767px) {
  .daily-deal .daily-deal-content .sub-title {
    font-size:13px;
  }
}

.daily-deal .daily-deal-content .sub-title b {
  color:#fff;
  font-size:23px;
  font-weight:500;
}

.daily-deal .daily-deal-content ul {
  list-style-type:none;
  padding:0;
  margin:0;
  padding-top:40px;
}

@media (max-width:767px) {
  .daily-deal .daily-deal-content ul {
    padding-top:25px;
  }
}

.daily-deal .daily-deal-content ul li {
  display:inline-block;
  color:#fff;
  width:60px;
  height:80px;
  margin-right:6px;
  padding:10px;
  border:2px solid #5e5e5e;
}

@media (max-width:767px) {
  .daily-deal .daily-deal-content ul li {
    width:50px;
    height:70px;
    padding:5px;
  }
}

.daily-deal .daily-deal-content ul li span {
  display:inline-block;
  width:37px;
  height:52px;
  text-align:center;
  font-size:13px;
}

.daily-deal .daily-deal-content ul li span b {
  font-size:20px;
  font-weight:500;
}

.daily-deal .daily-deal-content .product-swiper {
  padding-top:41px;
}

.collection .banner-collection {
  padding-bottom:40px;
}

.collection .banner-collection img {
  width:100%;
  height:auto;
}

.collection .category-products {
  z-index:0;
  position:relative;
}

.product-swiper {
  position:relative;
}

.product-swiper .item {
  position:relative;
}

.product-swiper .product-detail:hover .bizweb-product-reviews-badge {
  display:inline-block;
}

.product-swiper .product-detail:hover .add-cart-2 {
  display:inline-block;
}

.product-swiper .product-detail:hover .general-button {
  display:inline-block;
}

.product-swiper .product-detail:hover hr {
  display:block;
}

.product-swiper .product-detail:hover .like-icon,
.product-swiper .product-detail:hover .add-to-cart,
.product-swiper .product-detail:hover .minimize-icon {
  display:inline-block;
}

.product-swiper .product-detail {
  height:450px;
  text-align:left;
}

@media (min-width:992px) {
  .product-swiper .product-detail {
    margin-bottom:10px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .product-swiper .product-detail {
    height:470px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .product-swiper .product-detail {
    height:550px;
  }
}

@media (max-width:767px) {
  .product-swiper .product-detail {
    min-height:450px;
    margin-bottom:15px;
    text-align:center;
  }
}

.product-swiper .product-detail h3 {
  font-size:14px;
  color:#888;
  padding-top:15px;
  margin-bottom:0;
  margin-left:0;
  font-weight:300;
  margin-top:0;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.product-swiper .product-detail .bizweb-product-reviews-badge {
  display:none;
  width:100px;
  float:right;
  text-align:right;
  vertical-align:top;
  padding-top:4px;
}

@media (max-width:767px) {
  .product-swiper .product-detail .bizweb-product-reviews-badge {
    float:unset;
  }
}

.product-swiper .product-detail .bizweb-product-reviews-badge div:not(.bizweb-product-reviews-star) {
  display:none;
}

.product-swiper .product-detail .bizweb-product-reviews-badge div.bizweb-product-reviews-star {
  display:inline-block;
  padding:0;
}

.product-swiper .product-detail .bizweb-product-reviews-badge div.bizweb-product-reviews-star>i {
  color:#ba933e;
  font-size:16px;
}

@media (max-width:1199px) {
  .product-swiper .product-detail .bizweb-product-reviews-badge {
    display:inline-block;
  }
}

.product-swiper .product-detail .image-detail {
  width:100%;
  height:340px;
  margin:0 auto;
  overflow:hidden;
}

@media (min-width:768px) and (max-width:991px) {
  .product-swiper .product-detail .image-detail {
    height:420px;
  }
}

@media (max-width:767px) {
  .product-swiper .product-detail .image-detail {
    max-height:325px;
  }
}

.product-swiper .product-detail .image-detail a {
  max-width:100%;
  display:flex;
  justify-content:left;
  align-items:center;
  height:340px;
}

@media (min-width:768px) and (max-width:991px) {
  .product-swiper .product-detail .image-detail a {
    height:420px;
  }
}

@media (max-width:767px) {
  .product-swiper .product-detail .image-detail a {
    max-height:325px;
  }
}

.product-swiper .product-detail .image-detail a img {
  max-width:100%;
  max-height:100%;
  display:block;
  margin:0 auto;
  width:unset;
  -webkit-transition-duration:500ms;
  -moz-transition-duration:500ms;
  -ms-transition-duration:500ms;
  -o-transition-duration:500ms;
  transition-duration:500ms;
  -webkit-transition-property:transform;
  -moz-transition-property:transform;
  -ms-transition-property:transform;
  -o-transition-property:transform;
  transition-property:transform;
  -moz-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -webkit-transform:translateZ(0);
  transform:translateZ(0);
}

@media (max-width:767px) {
  .product-swiper .product-detail .image-detail a img {
    max-width:100%;
    max-height:100%;
  }
}

.product-swiper .product-detail .tag {
  position:absolute;
  display:inline-block;
  top:11px;
  right:8px;
  color:#fff;
  width:55px;
  height:25px;
  font-size:13px;
  padding-top:0;
  text-align:center;
}

@media (max-width:767px) {
  .product-swiper .product-detail .tag {
    right:13%;
  }
}

.product-swiper .product-detail .new-tag {
  background-color:#3f90ba;
}

.product-swiper .product-detail .sale-tag {
  background-color:#ba933e;
}

.product-swiper .product-detail .product-name {
  color:#222;
}

.product-swiper .product-detail .price {
  font-size:16px;
  font-weight:500;
  color:#000;
  display:inline-block;
  margin-top:2px;
}

.product-swiper .product-detail .old-price {
  font-size:14px;
  color:#555;
  text-decoration:line-through;
  display:inline-block;
  margin-top:2px;
  margin-left:9px;
}

.product-swiper .product-detail .general-button {
  display:none;
  color:#fff;
  position:absolute;
  text-align:center;
  top:150px;
  left:0;
  right:0;
  margin:0 auto;
  width:120px;
  padding:10px;
}

.product-swiper .product-detail hr {
  background-color:#e1d8cf;
  border-top:none;
  width:100%;
  height:1px;
  opacity:0.8;
  display:none;
  margin-top:10px;
  margin-bottom:0;
}

@media (max-width:1199px) {
  .product-swiper .product-detail hr {
    display:block;
  }
}

.product-swiper .product-detail .add-cart-2 {
  position:absolute;
  top:275px;
  border:none;
  outline:none;
  height:50px;
  width:100%;
  display:none;
}

.product-swiper .product-detail .add-to-cart {
  margin-top:5px;
  font-size:13px;
  font-family:'Montserrat';
  background-color:transparent;
  border:none;
  padding-left:0;
}

@media (max-width:767px) {
  .product-swiper .product-detail .add-to-cart {
    padding-left:0;
    padding-right:0;
  }
}

.product-swiper .product-detail .add-to-cart:hover {
  border-bottom:1px solid #222;
}

.product-swiper .product-detail .minimize-icon {
  font-size:18px;
  margin-left:90px;
}

.product-swiper .product-detail .like-icon {
  font-size:18px;
  margin-left:5px;
}

.product-swiper .product-detail .like-icon,
.product-swiper .product-detail .add-to-cart,
.product-swiper .product-detail .minimize-icon {
  color:#000;
  display:none;
}

@media (max-width:1199px) {
  .product-swiper .product-detail .like-icon,
  .product-swiper .product-detail .add-to-cart,
  .product-swiper .product-detail .minimize-icon {
    display:inline-block;
    text-decoration:none;
    margin-top:5px;
  }
}

.all-product {
  text-align:center;
  margin-bottom:0;
}

@media (min-width:768px) and (max-width:1199px) {
  .all-product {
    margin-bottom:30px;
  }
}

.all-product ul {
  list-style-type:none;
  padding:0;
  margin:0;
  text-align:center;
  padding-top:25px;
}

@media (max-width:767px) {
  .all-product ul {
    padding-top:0;
  }
}

.all-product ul li {
  display:inline-block;
  padding-right:30px;
  font-size:17px;
  color:#333;
  cursor:pointer;
  font-weight:500;
}

@media (max-width:767px) {
  .all-product ul li {
    padding:2px 15px;
    font-size:15px;
    width:50%;
    float:left;
    text-align:center;
  }
}

.all-product ul li a {
  color:inherit;
}

.all-product ul li a.active {
  color:#ba933e;
}

.all-product ul li:hover a {
  text-decoration:none;
  color:#ba933e;
}

.all-product .tab-content-product {
  padding-top:28px;
  clear:both;
}

.all-product .tab-content-product .tab {
  display:none;
}

.all-product .tab-content-product .active {
  display:block;
}

.all-product .tab-content-product h3 {
  color:#555;
}

.all-product .tab-content-product .price {
  color:#000;
}

.all-product .tab-content-product .old-price {
  color:#cccccc;
}

.all-product .tab-content-product hr {
  background-color:#e1d8cf;
}

.all-product .tab-content-product .like-icon,
.all-product .tab-content-product .add-to-cart,
.all-product .tab-content-product .minimize-icon {
  color:#222;
}

.all-product h3 {
  font-size:46px;
  font-weight:500;
  color:#000;
}

@media (min-width:768px) and (max-width:1199px) {
  .all-product h3 {
    padding-top:10px;
  }
}

@media (max-width:767px) {
  .all-product h3 {
    font-size:30px;
    padding-top:30px;
    margin-top:0;
  }
}

.all-product .sub-title {
  color:#888;
  font-size:14px;
  word-spacing:2px;
}

@media (max-width:767px) {
  .all-product .sub-title {
    font-size:13px;
  }
}

.all-product .product-detail:hover .general-button {
  display:inline-block;
}

.all-product .product-detail:hover hr {
  display:block;
}

.all-product .product-detail:hover .like-icon,
.all-product .product-detail:hover .add-to-cart,
.all-product .product-detail:hover .minimize-icon {
  display:inline-block;
}

.news-blog {
  color:#555;
  font-size:13px;
  margin-bottom:36px;
  border-top:1px dotted #f2f2f2;
}

@media (max-width:767px) {
  .news-blog {
    margin-bottom:25px;
  }
}

.news-blog .swiper-block {
  margin-top:58px;
  position:relative;
}

@media (max-width:767px) {
  .news-blog .swiper-block {
    margin-top:20px;
  }
}

.news-blog img {
  max-height:235px;
}

@media (max-width:767px) {
  .news-blog img {
    height:auto;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .news-blog img {
    height:225px;
  }
}

.news-blog h2 {
  text-align:center;
  padding-top:40px;
  font-size:46px;
  font-weight:500;
  color:#000;
}

@media (max-width:767px) {
  .news-blog h2 {
    font-size:30px;
    padding-top:30px;
    margin-top:0;
  }
}

@media (min-width:768px) and (max-width:1199px) {
  .news-blog h2 {
    padding-top:40px;
  }
}

.news-blog .sub-title {
  color:#888;
  font-size:14px;
  text-align:center;
  word-spacing:2px;
  margin-top:-2px;
}

@media (max-width:767px) {
  .news-blog .sub-title {
    font-size:13px;
  }
}

.news-blog .author {
  font-size:12px;
  padding-top:15px;
  margin-bottom:0;
  text-transform:uppercase;
}

.news-blog .date {
  color:#888;
  font-style:italic;
}

.news-blog a.blog-title h3 {
  font-size:15px;
  color:#000;
  font-weight:500;
  text-transform:uppercase;
  padding-top:7px;
  margin-bottom:5px;
  min-height:50px;
  line-height:20px;
  margin-top:0;
}

.news-blog a.blog-title:hover {
  text-decoration:none;
}

.news-blog a.blog-title:hover h3 {
  color:#ba933e;
}

.news-blog .see-more {
  color:inherit;
  display:none;
  margin-top:14px;
}

.news-blog .see-more:hover {
  text-decoration:underline;
  color:#ba933e;
}

.news-blog .short-content {
  line-height:19px;
}

.news-blog .link-icon {
  display:block;
  position:absolute;
  top:85px;
  padding-top:22px;
  background-color:#ba933e;
  border-radius:50%;
  display:none;
  width:70px;
  height:70px;
  left:0;
  right:0;
  text-align:center;
  margin:0 auto;
}

.news-blog .link-icon .fa {
  color:#fff;
  font-weight:100;
  font-size:24px;
}

.news-blog .blog-detail {
  position:relative;
  min-height:510px;
  margin-bottom:15px;
}

@media (max-width:1199px) {
  .news-blog .blog-detail {
    min-height:470px;
  }
}

@media (max-width:767px) {
  .news-blog .blog-detail {
    min-height:420px;
    margin-bottom:0;
  }
}

.news-blog .blog-detail p {
  margin-bottom:5px;
}

.news-blog .blog-detail .image-detail {
  position:relative;
}

.news-blog .blog-detail .image-detail .mask {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:none;
}

.news-blog .blog-detail:hover .see-more {
  display:block;
}

.news-blog .blog-detail:hover .link-icon {
  display:block;
}

.line-bottom {
  font-size:18px;
  color:#111;
  font-weight:500;
  text-transform:uppercase;
  line-height:1.111;
  position:relative;
  padding-bottom:26px;
  padding-top:23px;
}

.line-bottom:before {
  content:"";
  position:absolute;
  width:30px;
  height:3px;
  bottom:0;
  left:0;
  border-bottom:3px solid #ba933e;
}

.shopping-cart table {
  font-size:13px;
  margin-top:35px;
}

.shopping-cart table thead {
  color:#333;
  font-weight:600;
  text-transform:uppercase;
  line-height:1.538;
}

.shopping-cart table thead td {
  text-align:left;
  padding-bottom:16px;
}

.shopping-cart table tr {
  border-bottom:1px solid red;
}

.shopping-cart table .product-image img {
  max-width:100px;
  max-height:128px;
  margin:30px 0;
}

.shopping-cart table .product-name {
  font-family:"Montserrat";
  color:#000;
  line-height:1.538;
}

.shopping-cart table .product-name span {
  display:block;
  font-size:15px;
}

.shopping-cart table .remove-item {
  font-size:20px;
  color:red;
}

.shopping-cart table .description {
  color:#888;
  line-height:1.538;
}

.shopping-cart table .price,
.shopping-cart table .total-price-item {
  font-size:18px;
  color:#333;
}

.shopping-cart table .total-price .delete-item {
  color:#e60d0d;
  font-size:14px;
  float:right;
}

@media (max-width:767px) {
  .shopping-cart .line-bottom {
    font-size:15px;
    padding-bottom:15px;
  }
}

.shopping-cart .quantity-detail {
  position:relative;
  width:100px;
}

@media (max-width:767px) {
  .shopping-cart .quantity-detail {
    width:100%;
  }
}

.shopping-cart .quantity-detail .inp-number {
  width:100px;
  height:40px;
  padding-left:10px;
  border:1px solid #ddd;
}

@media (max-width:767px) {
  .shopping-cart .quantity-detail .inp-number {
    width:100%;
  }
}

.shopping-cart .quantity-detail .quantity-button {
  color:#333;
  border:none;
  background-color:transparent;
  position:absolute;
  right:0;
}

.shopping-cart .quantity-detail .quantity-button .fa {
  font-size:10px;
}

.shopping-cart .quantity-detail .quantity-top-plus {
  top:0;
}

.shopping-cart .quantity-detail .quantity-bottom-minus {
  bottom:0;
}

.shopping-cart .summarize {
  margin-top:40px;
}

.shopping-cart .summarize .btn-update {
  height:50px;
  background-color:#eaeaea;
  color:#111;
  width:250px;
  text-align:center;
  text-transform:uppercase;
  font-weight:300;
  font-size:15px;
}

.shopping-cart .summarize .btn-update:hover {
  background-color:#cecece;
  color:#111;
  border:none;
}

.shopping-cart .summarize .continue-buying {
  font-size:15px;
  color:#111;
  text-transform:uppercase;
  display:inline-block;
  width:250px;
  height:50px;
  background-color:#eaeaea;
  text-align:center;
  padding-top:13px;
  text-decoration:none;
}

@media (max-width:767px) {
  .shopping-cart .summarize .continue-buying {
    margin-top:25px;
  }
}

.shopping-cart .summarize .continue-buying:hover {
  background-color:#cecece;
}

.shopping-cart .summarize .checkout {
  width:30%;
  float:right;
}

.shopping-cart .summarize .checkout .line-bottom {
  font-weight:300;
  margin-top:-4px;
}

@media (min-width:768px) and (max-width:991px) {
  .shopping-cart .summarize .checkout {
    width:35%;
  }
}

@media (max-width:767px) {
  .shopping-cart .summarize .checkout {
    width:100%;
  }
}

.shopping-cart .summarize .general-button {
  width:250px;
  height:50px;
  font-size:15px;
  text-transform:uppercase;
  text-align:center;
  margin-top:30px;
  padding-top:13px;
  margin-bottom:71px;
}

@media (max-width:991px) {
  .shopping-cart .summarize .general-button {
    max-width:100%;
  }
}

.shopping-cart .summarize ul {
  padding:0;
  margin:0;
  list-style-type:none;
  margin-top:36px;
}

.shopping-cart .summarize ul li {
  display:block;
  border-bottom:1px solid #d2d2d2;
  color:#333;
  padding-bottom:9px;
}

.shopping-cart .summarize ul li .price {
  float:right;
  font-size:18px;
}

.shopping-cart .summarize ul li:not(:first-child) {
  margin-top:28px;
}

.shopping-cart .cart-ul-mobile {
  padding:0;
  margin:0;
  clear:both;
  padding-top:20px;
}

.shopping-cart .cart-ul-mobile li {
  display:inline-block;
  width:33%;
  float:left;
}

.shopping-cart .cart-ul-mobile li p.product-name {
  font-size:13px;
  margin-bottom:5px;
}

.shopping-cart .cart-ul-mobile li p.price {
  font-size:14px;
  font-weight:500;
}

.shopping-cart .cart-ul-mobile li.quantity {
  text-align:center;
}

.shopping-cart .cart-ul-mobile .remove-item {
  color:red;
  font-size:18px;
  display:inline-block;
  margin-top:10px;
}

.customer-reviews {
  background:url("../images/new-footer.jpg") top center;
  background-repeat:repeat;
  border-bottom:2px dotted #292929;
  margin-bottom:0;
}

.customer-reviews .customer-image,
.customer-reviews customer-info {
  float:left;
}

.customer-reviews .customer-image img {
  height:82px;
  width:82px;
  border:2px solid #ba933e;
  border-radius:50%;
}

.customer-reviews .swiper-container .swiper-slide {
  max-height:145px;
  clear:both;
}

.customer-reviews .swiper-container .item {
  max-height:145px;
  clear:both;
}

.customer-reviews .customer-info {
  padding-top:21px;
  padding-left:102px;
}

.customer-reviews .customer-info .name {
  color:#ddd;
  margin-bottom:4px;
}

.customer-reviews .customer-info .date {
  color:#888;
  font-size:13px;
  font-style:italic;
}

.customer-reviews .comment {
  color:#888;
  clear:both;
  display:block;
  padding-top:20px;
  line-height:26px;
}

@media (max-width:767px) {
  .customer-reviews .comment {
    padding-bottom:33px;
  }
}

.customer-reviews .container {
  padding-top:84px;
  padding-bottom:25px;
}

@media (max-width:767px) {
  .customer-reviews .container {
    padding-top:40px;
  }
}

.customer-reviews h3.title {
  font-size:22px;
  color:#ddd;
  padding-bottom:30px;
  font-weight:300;
}

@media (min-width:768px) and (max-width:1199px) {
  .customer-reviews h3.title {
    font-size:20px;
  }
}

@media (max-width:767px) {
  .customer-reviews h3.title {
    padding-bottom:10px;
  }
}

.customer-reviews p.title:not(.first-col-title) {
  padding-right:50px;
}

@media (min-width:1200px) {
  .customer-reviews .swiper-block:hover .activity-icon {
    display:block;
  }
}

.customer-reviews .swiper-block {
  position:relative;
}

.customer-reviews .swiper-block .product-image {
  width:100%;
  max-width:82px;
  clear:both;
  float:left;
}

.customer-reviews .swiper-block .item-content {
  clear:both;
  margin-bottom:0;
  min-height:115px;
}

@media (min-width:768px) and (max-width:1199px) {
  .customer-reviews .swiper-block .item-content {
    min-height:125px;
  }
}

.customer-reviews .swiper-block .item-content .right-col {
  padding-left:102px;
}

.customer-reviews .swiper-block .item-content:hover .add-to-cart {
  display:block;
}

.customer-reviews .swiper-block .product-name {
  font-size:14px;
  color:#888;
  margin-bottom:0;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.customer-reviews .swiper-block .product-name a {
  color:inherit;
}

.customer-reviews .swiper-block .star {
  margin-top:-3px;
}

.customer-reviews .swiper-block .activity-icon {
  cursor:pointer;
  color:#ddd;
  border:2px solid #ba933e;
  width:30px;
  height:30px;
  position:absolute;
  top:0;
  text-align:center;
  padding-top:2px;
  display:none;
  background-color:#ba933e;
}

@media (max-width:1199px) {
  .customer-reviews .swiper-block .activity-icon {
    display:inline-block;
  }
}

.customer-reviews .swiper-block .activity-icon.swiper-button-disabled {
  border:2px solid #333;
  background-color:transparent;
}

.customer-reviews .swiper-block .custom-prev-button {
  right:24px;
}

@media (max-width:991px) {
  .customer-reviews .swiper-block .custom-prev-button {
    right:50px;
  }
}

.customer-reviews .swiper-block .custom-next-button {
  right:-9px;
}

@media (max-width:991px) {
  .customer-reviews .swiper-block .custom-next-button {
    right:15px;
  }
}

.customer-reviews .swiper-block .price {
  font-size:16px;
  color:#bfbfbf;
  display:block;
  margin-top:3px;
}

.customer-reviews .swiper-block .add-to-cart {
  font-size:13px;
  font-family:'Montserrat';
  text-transform:uppercase;
  color:#ba933e;
  border:none;
  display:none;
  background-color:transparent;
  padding-left:0;
}

@media (min-width:768px) and (max-width:1199px) {
  .customer-reviews .swiper-block .add-to-cart {
    font-size:12px;
    padding:1px 0;
  }
}

.customer-reviews .swiper-block .add-to-cart:hover {
  border-bottom:1px solid #ba933e;
}

.footer {
  background:url("../images/new-footer.jpg") top center;
  background-repeat:repeat;
}

.footer .line {
  width:100%;
  height:1px;
  background-color:#272626;
  border:none;
  margin-top:25px;
}

.footer .top-container {
  padding-top:81px;
}

@media (max-width:991px) {
  .footer .top-container {
    padding-top:40px;
  }
}

@media (max-width:767px) {
  .footer .top-container>.row {
    padding:0 15px;
    padding-top:25px;
  }
}

.footer .footer-column-text {
  color:#ddd;
  font-size:22px;
  position:relative;
  padding-bottom:26px;
  font-weight:300;
}

.footer .footer-column-text a {
  color:inherit;
}

.footer .footer-column-text a:hover {
  text-decoration:none;
}

.footer .footer-column-text:before {
  content:"";
  position:absolute;
  width:40px;
  height:3px;
  bottom:0;
  left:0;
  border-bottom:3px solid #ba933e;
}

@media (max-width:991px) {
  .footer .link-column {
    padding-left:0;
    padding-right:0;
  }
}

.footer .link-column ul {
  padding:0;
  margin:0;
  list-style-type:none;
  padding-top:17px;
}

.footer .link-column ul li {
  color:#888;
  padding-bottom:12px;
  word-spacing:2px;
}

.footer .link-column ul li a {
  color:inherit;
  text-decoration:none;
}

.footer .link-column ul li a:hover {
  padding-left:12px;
  color:#ba933e;
}

@media (max-width:991px) {
  .footer .link-column-item ul {
    display:none;
  }
  .footer .link-column-item .footer-column-text {
    position:relative;
    border-top:1px solid #292929;
    padding-top:15px;
    padding-bottom:20px;
    margin-bottom:0;
  }
  .footer .link-column-item .footer-column-text .fa {
    position:absolute;
    top:30px;
    right:10px;
    color:#fff;
    font-size:13px;
  }
  .footer .link-column-item .footer-column-text .fa-plus {
    display:none;
  }
  .footer .link-column-item .footer-column-text:before {
    border-bottom:none;
  }
  .footer .link-column-item .footer-column-text.has-line:before {
    border-bottom:3px solid #ba933e;
  }
}

@media (max-width:767px) {
  .footer .link-column-item:last-child {
    border-bottom:1px solid #292929;
  }
}

.footer .info-company {
  color:#bbb;
  padding-left:0;
  padding-right:0;
}

.footer .info-company .sub-title {
  color:#888;
  padding-top:10px;
  font-style:italic;
  padding-right:15px;
}

.footer .info-company .logo {
  padding-top:0;
  display:block;
}

.footer .info-company .phone {
  margin-top:18px;
}

.footer .info-company .phone a {
  color:inherit;
}

.footer .info-company .phone,
.footer .info-company .mail,
.footer .info-company .clock,
.footer .info-company .address {
  padding-bottom:0;
  position:relative;
  padding-left:20px;
}

.footer .info-company .phone .fa,
.footer .info-company .mail .fa,
.footer .info-company .clock .fa,
.footer .info-company .address .fa {
  position:absolute;
  top:4px;
  left:0;
}

.footer .info-company .mail a {
  color:inherit;
}

.footer .info-company .mail a:hover {
  color:#ba933e;
}

.footer .copyright {
  color:#888;
  line-height:25px;
}

.footer .copyright b {
  font-weight:300;
  color:#ba933e;
}

.footer .copyright a {
  font-weight:300;
  color:#888;
}

.footer .copyright a:hover {
  color:#ba933e;
}

.footer .copyright-mark {
  padding-top:85px;
}

@media (max-width:991px) {
  .footer .copyright-mark {
    padding-top:20px;
  }
}

@media (max-width:767px) {
  .footer .copyright-mark {
    padding:0 15px;
  }
}

.footer .copyright-mark .sitemap {
  margin:0;
  padding:0;
  list-style-type:none;
  display:inline-block;
  float:right;
}

.footer .copyright-mark .sitemap li {
  display:inline-block;
  padding-left:30px;
  color:#888;
}

.footer .copyright-mark .sitemap li a {
  color:inherit;
  text-decoration:none;
}

.footer .copyright-mark .sitemap li:hover a {
  color:#ba933e;
}

.footer .last-footer {
  padding-top:23px;
  padding-bottom:30px;
}

@media (max-width:767px) {
  .footer .last-footer {
    padding:0 15px;
    margin-bottom:20px;
  }
}

.footer .last-footer .subscribe-form {
  margin-bottom:0;
  display:inline-block;
}

.footer .last-footer ul {
  padding:0;
  margin:0;
  list-style-type:none;
  display:inline-block;
  float:right;
  padding-top:7px;
}

@media (max-width:991px) {
  .footer .last-footer ul {
    width:100%;
    text-align:center;
  }
}

@media (max-width:767px) {
  .footer .last-footer ul {
    padding-top:20px;
    text-align:left;
  }
}

.footer .last-footer ul li {
  display:inline-block;
  padding-right:6px;
}

.footer .last-footer input {
  width:300px;
  height:40px;
  background-color:transparent;
  padding-left:20px;
  margin-left:41px;
  display:inline-block;
  color:#e1e1e1;
}

@media (max-width:767px) {
  .footer .last-footer input {
    width:100%;
    margin-left:0;
  }
}

.footer .last-footer .general-button {
  display:inline-block;
  font-size:13px;
  height:40px;
  width:140px;
  text-align:center;
  text-transform:uppercase;
  padding-top:3px;
  margin-left:7px;
  border:none;
}

@media (max-width:767px) {
  .footer .last-footer .general-button {
    padding-top:5px;
    margin-left:0;
  }
}

.footer .last-footer .send-mail {
  font-size:18px;
  text-transform:uppercase;
  color:#ba933e;
  display:inline-block;
}

@media (max-width:767px) {
  .footer .last-footer .send-mail {
    margin-bottom:10px;
    display:block;
  }
}

.bread-crumb {
  margin-top:155px;
  margin-bottom:10px;
}

@media (max-width:767px) {
  .bread-crumb {
    margin-top:125px;
  }
}

.main-color {
  color:#ba933e;
}

.products-view-list .product-box .sale-tag {
  position:absolute;
  display:inline-block;
  top:8px;
  right:15px;
  color:#fff;
  width:55px;
  height:25px;
  font-size:13px;
  padding-top:0;
  text-align:center;
  background-color:#ba933e;
}

@media (min-width:768px) and (max-width:991px) {
  .products-view-list .product-box .sale-tag {
    top:25px;
  }
}

@media (max-width:767px) {
  .products-view-list .product-box .sale-tag {
    width:40px;
    font-size:10px;
    height:18px;
    right:7px;
  }
}

.products-view-list .product-info .product-name {
  font-size:18px;
  color:#333333;
  line-height:24px;
  position:relative;
  padding-bottom:20px;
  padding-top:0;
  margin-top:0;
  text-transform:none;
}

@media (max-width:767px) {
  .products-view-list .product-info .product-name {
    margin-bottom:0;
    padding-bottom:10px;
    font-size:15px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }
}

.products-view-list .product-info .price-box {
  padding-top:20px;
  padding-bottom:10px;
}

@media (max-width:767px) {
  .products-view-list .product-info .price-box {
    padding-top:0;
  }
}

.products-view-list .product-info .price-box .product-price {
  font-size:16px;
  color:black;
  font-weight:600;
  line-height:1.2;
}

@media (max-width:767px) {
  .products-view-list .product-info .price-box .product-price {
    font-size:14px;
  }
}

.products-view-list .product-info .price-box .product-price-old {
  font-size:14px;
  color:#c3c3c3;
  text-decoration:line-through;
  margin-left:10px;
}

@media (max-width:767px) {
  .products-view-list .product-info .price-box .product-price-old {
    font-size:12px;
    margin-left:5px;
  }
}

.products-view-list .product-info .price-box .special-price {
  margin-top:3px;
}

.products-view-list .product-info .product-summary {
  font-size:13px;
  color:#888888;
  line-height:1.538;
  display:inline-block;
  margin-top:10px;
  line-height:20px;
}

@media (max-width:767px) {
  .products-view-list .product-info .product-summary {
    font-size:12px;
  }
}

.products-view-list .product-info .btn-option,
.products-view-list .product-info .btn-buy,
.products-view-list .product-info .btn-cart {
  width:150px;
  height:50px;
  font-size:14px;
  text-transform:uppercase;
  padding-top:0;
  color:#fff;
  border:none;
}

@media (max-width:767px) {
  .products-view-list .product-info .btn-option,
  .products-view-list .product-info .btn-buy,
  .products-view-list .product-info .btn-cart {
    max-width:100%;
    height:40px;
    padding-top:0;
    font-size:11px;
  }
}

.products-view-list .product-info .btn-option {
  background-color:#9e9e9e;
  padding-top:5px;
}

@media (max-width:767px) {
  .products-view-list .product-info .btn-option {
    padding-top:0;
  }
}

.products-view-list .product-info .btn-option:hover {
  background-color:#ba933e;
}

.products-view-list .product-info .btn-white {
  width:150px;
  height:50px;
  font-size:14px;
  text-transform:uppercase;
  padding-top:5px;
  border:1px solid #999;
}

.products-view-list .product-info .btn-white:hover {
  border:none;
}

.search-main h2.title-head {
  font-size:18px;
  padding-bottom:15px;
}

.search-main .search-block .general-button {
  width:200px;
  max-width:100%;
  border:none;
  outline:none;
  height:40px;
}

.details-product {
  color:#333;
}

.details-product .large-image {
  text-align:center;
}

@media (max-width:767px) {
  .details-product .large-image {
    width:100%;
    margin-bottom:10px;
  }
}

.details-product .product-tab img {
  max-width:100%;
  max-height:100%;
}

.details-product h1.title-head {
  font-size:24px;
  margin-top:0;
  word-break:break-word;
}

@media (max-width:767px) {
  .details-product h1.title-head {
    padding-top:10px;
  }
}

.details-product .product-summary .description {
  font-size:14px;
  color:#888;
}

.details-product .price-box .product-price {
  font-size:24px;
  color:#333;
  font-weight:600;
}

.details-product .line-bottom {
  text-transform:none;
  padding-top:10px;
  padding-bottom:15px;
}

.details-product .form-product .form-group {
  width:100%;
}

.details-product .form-product .selector-wrapper label {
  font-size:14px;
  font-weight:300;
}

.details-product .form-product .selector-wrapper select {
  font-size:14px;
  color:#888;
}

.details-product .form-product .btn-cart {
  width:250px;
  height:50px;
  font-size:14px;
  text-transform:uppercase;
  padding-top:0;
  color:#fff;
  border:none;
  background-color:#ba933e;
}

@media (max-width:400px) {
  .details-product .form-product .btn-cart {
    width:100%;
  }
}

.details-product .form-product .btn-cart:hover {
  background-color:#997933;
}

.details-product .form-product .social-sharing label {
  font-size:14px;
  font-weight:500;
}

.details-product .form-product .social-sharing .fa {
  font-size:18px;
}

.details-product .form-product .call-number {
  display:block;
  background-color:#ba933e;
  opacity:0.9;
  width:40px;
  height:40px;
  border-radius:50%;
  padding-left:13px;
  padding-top:10px;
  position:fixed;
  bottom:70px;
  right:10px;
  z-index:100;
}

.details-product .form-product .call-number .fa {
  color:#fff;
  font-size:20px;
}

.details-product .form-product .totalprice {
  width:50%;
  float:right;
  vertical-align:top;
  padding-top:3px;
  color:#333;
  font-size:16px;
  text-align:center;
}

@media (max-width:767px) {
  .details-product .form-product .totalprice {
    width:100%;
    text-align:left;
    padding:15px 0;
  }
}

.details-product .form-product .totalprice span {
  color:#ba933e;
  font-size:20px;
  font-weight:500;
}

.details-product .product-tab .tab-link.current span {
  font-size:18px;
  color:#111;
  font-weight:500;
  text-transform:none;
  line-height:1.111;
  position:relative;
  padding-bottom:26px;
}

.details-product .product-tab .tab-link.current span:before {
  content:"";
  position:absolute;
  width:30px;
  height:3px;
  bottom:0;
  left:0;
  border-bottom:3px solid #ba933e;
}

.details-product .product-tab .tab-content.current {
  margin-top:40px;
}

.details-product .custom-btn-number label {
  font-size:13px;
  font-weight:300;
  width:100px;
  float:left;
  margin-top:5px;
}

.details-product .custom-btn-number .toogle-quantity {
  width:20%;
  z-index:0;
}

@media (max-width:767px) {
  .details-product .custom-btn-number .toogle-quantity {
    width:35%;
  }
}

.details-product .custom-btn-number .quantity-button {
  position:absolute;
  bottom:-10px;
  z-index:100;
  height:32px;
}

.details-product .custom-btn-number .quantity-left-minus {
  left:0;
}

.details-product .custom-btn-number .quantity-right-plus {
  right:0;
}

.details-product .custom-btn-number .input-text {
  text-align:center;
  font-size:14px;
}

.details-product .related-product .line-bottom {
  font-size:24px;
  text-transform:none;
  display:inline-block;
  margin-bottom:20px;
}

.blog-page-content {
  margin-bottom:20px;
}

.blog-main .blog-detail .see-more {
  display:block;
}

.box-heading h1.title-head {
  font-size:25px;
  padding-left:15px;
  margin-bottom:25px;
}

.aside-item .blog-article-heading {
  font-size:15px;
  font-weight:500;
  margin-top:0;
}

.aside-item .aside-content ul>li {
  font-size:14px;
  color:#333;
  padding-top:10px;
}

.aside-item .aside-content ul>li a {
  color:inherit;
}

.aside-item .aside-content ul>li a:hover {
  text-decoration:none;
  color:#ba933e;
}

article.blog-item .blog-image {
  float:left;
}

article.blog-item .blog-image img {
  width:100px;
  height:65px;
}

article.blog-item .blog-detail {
  padding:0 10px;
  float:right;
  width:calc(100% - 100px);
}

article.blog-item .blog-detail .blog-item-name {
  font-size:14px;
  font-weight:300;
}

article.blog-item .blog-detail .post-time {
  color:#aaa;
  font-size:12px;
}

.tags-and-share {
  border-top:1px solid #d7d7d7;
  border-bottom:1px solid #d7d7d7;
  padding:20px 0;
}

@media (min-width:992px) {
  .tags-and-share {
    width:96%;
    margin-left:15px;
  }
}

@media (max-width:991px) {
  .tags-and-share {
    padding:20px 15px;
  }
}

.tags-and-share .tag-article {
  text-align:right;
}

@media (max-width:767px) {
  .tags-and-share .tag-article {
    text-align:left;
  }
}

.tags-and-share .tag-article .inline {
  text-transform:uppercase;
  color:#333;
}

.tags-and-share .tag-article a {
  color:#666;
  display:inline-block;
  padding-left:5px;
}

.tags-and-share .tag-article a:hover {
  color:#ba933e;
}

.article-main .article-details .article-image {
  padding-top:25px;
  padding-bottom:25px;
}

.article-main .social-media label {
  font-weight:500;
}

.article-main h1.title-head {
  color:#333;
  font-size:15px;
  text-transform:uppercase;
}

.article-main .article-content {
  font-size:13px;
  color:#666;
}

.article-main .article-content strong {
  font-weight:500;
}

.article-main .postby {
  font-size:13px;
  color:#888;
  font-style:italic;
}

.article-main .author-post {
  font-size:14px;
  color:#666;
}

.article-main .author-post b {
  color:#ba933e;
  font-weight:300;
}

.article-main .article-image img {
  max-width:100%;
}

.form-coment label {
  font-weight:300;
  color:#333;
  display:block;
  padding:5px 0;
}

.form-coment .btn-white {
  background-color:#ba933e;
  color:#fff;
  font-size:14px;
  text-transform:uppercase;
}

.bizweb-product-reviews-module {
  margin:0 !important;
}

#bizweb-product-reviews {
  font-family:'Montserrat' !important;
  font-weight:300;
}

#bizweb-product-reviews #bpr-list,
#bizweb-product-reviews #bpr-more-reviews {
  display:none !important;
}

.bizweb-product-reviews .title-bl {
  display:none !important;
}

.bizweb-product-reviews .bizweb-product-reviews-summary {
  width:20% !important;
  padding-left:0 !important;
}

.bizweb-product-reviews .bizweb-product-reviews-summary .bpr-summary-average {
  display:none !important;
}

.bizweb-product-reviews .bizweb-product-reviews-summary .bpr-summary-caption {
  display:none !important;
}

.bizweb-product-reviews .bizweb-product-reviews-summary .bizweb-product-reviews-star {
  display:inline-block !important;
  margin-top:3px !important;
}

.bizweb-product-reviews .product-reviews-summary-actions {
  display:inline-block !important;
  float:left !important;
}

@media (max-width:767px) {
  .bizweb-product-reviews .product-reviews-summary-actions {
    margin-left:30px;
  }
}

.bizweb-product-reviews .product-reviews-summary-actions input {
  background:transparent !important;
  color:#555 !important;
  font-size:13px !important;
  margin-top:2px !important;
  font-weight:300;
}

@media (max-width:767px) {
  .bizweb-product-reviews .product-reviews-summary-actions input {
    margin-left:10px;
  }
}

.page-login {
  border:1px solid #e1e1e1;
  padding:10px;
  text-align:center;
  margin-bottom:30px;
}

@media (min-width:1200px) {
  .page-login {
    padding:25px;
  }
}

.page-login form {
  margin-bottom:10px;
}

.page-login fieldset {
  margin-bottom:10px;
}

.page-login h1.title-head {
  font-size:20px;
  text-transform:uppercase;
}

.page-login span {
  display:inline-block;
  margin-bottom:20px;
  padding:0 20px;
}

.page-login .pull-xs-left .btn {
  background-color:#ba933e;
  color:#fff;
  font-weight:300;
  width:30%;
  font-size:15px;
}

@media (max-width:767px) {
  .page-login .pull-xs-left .btn {
    width:50%;
    font-size:14px;
  }
}

.page-login .pull-xs-left .btn:hover {
  background-color:#997933;
}

.page-login .pull-xs-left a {
  color:#333;
  margin-left:20px;
  text-decoration:underline;
}

.page-login .text-xs-left {
  text-align:center;
  margin-top:10px;
}

.page-login .text-xs-left .btn {
  background-color:#ba933e;
  color:#fff;
  font-weight:300;
  width:30%;
  font-size:15px;
  padding-top:0;
}

.page-login .text-xs-left .btn:hover {
  background-color:#997933;
}

.page-login .redirect {
  margin-top:10px;
}

.page-login .redirect a {
  color:#ba933e;
}

@media (max-width:1199px) {
  #recover-password {
    margin-bottom:20px;
  }
}

#recover-password .action_bottom {
  margin-top:10px;
}

#recover-password span {
  display:inline-block;
  margin-bottom:20px;
}

#recover-password .btn {
  background-color:#ba933e;
  color:#fff;
  font-weight:300;
  width:30%;
  font-size:15px;
  padding-top:0;
}

@media (max-width:767px) {
  #recover-password .btn {
    width:50%;
    font-size:13px;
  }
}

#recover-password .btn:hover {
  background-color:#997933;
}

.view-mode span {
  display:inline-block;
  margin-right:10px;
  font-weight:500;
  font-size:13px;
}

.view-mode .display-type {
  display:inline-block;
  width:35px;
  height:35px;
  margin-right:10px;
  background-color:#eee;
  text-align:center;
  padding-top:9px;
}

.view-mode .fa {
  font-size:18px;
}

.view-mode .display-type.active,
.view-mode .display-type:hover {
  background-color:#333;
  color:#fff;
}

.info-contact ul li {
  padding:5px 0;
  color:#333;
  float:left;
  width:100%;
  font-size:16px;
}

.info-contact ul li:last-child {
  margin-bottom:20px;
}

#btn-to-top {
  position:fixed;
  display:none;
  width:60px;
  height:60px;
  border:2px solid #fff;
  bottom:12%;
  right:30px;
  padding-top:16px;
  text-align:center;
  background-color:rgba(2,2,2,0.7);
}

#btn-to-top .fa {
  color:#fff;
  font-size:20px;
}

@media (max-width:767px) {
  #btn-to-top {
    width:40px;
    height:40px;
    padding-top:6px;
  }
  #btn-to-top .fa {
    font-size:15px;
  }
}

#btn-to-top.show-item {
  display:block;
}

.my-account table {
  border:1px solid #e1e1e1;
}

.my-account ul.pagination li a {
  color:#ba933e;
  border-radius:unset;
  width:35px;
  height:35px;
  line-height:26px;
  margin:0;
}

.my-account ul.pagination li.active a {
  border-color:#ba933e;
  background-color:#ba933e;
  color:#fff;
}

.my-account .cancel {
  color:#ff0000;
}

.blog-main ul.pagination .page-link {
  padding-top:4px;
}

.blog-main ul.pagination li a {
  color:#ba933e;
  border-radius:unset;
  width:35px;
  height:35px;
  line-height:23px;
  margin:0;
}

.blog-main ul.pagination li.active a {
  border-color:#ba933e;
  background-color:#ba933e;
  color:#fff;
}

.block-account .general-button {
  padding-top:1px;
}

.address .general-button {
  padding-top:1px;
  display:inline-block;
}

.address h1 {
  font-size:25px;
}

.address h1 .f-right {
  font-size:20px;
}

@media (max-width:991px) {
  .zoomContainer {
    display:none;
  }
}

.list-category .img_ef1 img {
  width:100%;
  height:245px;
}

@media (min-width:768px) and (max-width:991px) {
  .list-category .img_ef1 img {
    height:285px;
  }
}

@media (max-width:767px) {
  .list-category .img_ef1 img {
    height:auto;
  }
}

.list-category .collection-name {
  margin-top:10px;
  margin-bottom:0;
  font-weight:400;
  font-size:25px;
}

.list-category .collection-count {
  display:block;
  margin-bottom:10px;
}

.list-category .btn-style {
  background-color:#ba933e;
}

.list-category .btn-style:hover {
  background-color:#997933;
  text-decoration:none;
}

#sort-by .sort-by-script {
  max-width:100%;
  width:150px;
  display:inline-block;
}

section.page {
  padding-bottom:75px;
}

@media (max-width:767px) {
  .products-view-grid .product-detail p {
    padding-top:5px;
  }
}

.order-row .general-button {
  width:165px;
  text-align:center;
  margin-top:15px;
}

@media (max-width:767px) {
  .filter-price #stop {
    margin-bottom:20px;
  }
}

.page-404 .general-button {
  margin-bottom:20px;
  width:150px;
  padding-top:0;
}

.custom-infomation.form-signup p {
  position:relative;
  padding:0;
  padding-left:20px;
}

.custom-infomation.form-signup p i {
  position:absolute;
  top:5px;
  left:0;
}

#customer-reset-password .errors {
  color:red;
  font-size:18px;
}

#customer-reset-password .span12 h1 {
  margin-bottom:-10px;
  margin-top:0;
}

@media (max-width:767px) {
  #customer-reset-password .span12 {
    padding:0 25px;
  }
  #customer-reset-password .span12 h1 {
    font-size:20px;
    margin-top:10px;
  }
}

#customer-reset-password .general-button {
  margin-top:10px;
}

@media (max-width:767px) {
  .zoomContainer {
    display:none !important;
  }
}

.image-detail {
  margin:0 auto;
  overflow:hidden;
  height:234px;
}

.image-detail a {
  max-width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  height:234px;
}

.image-detail img {
  max-width:100%;
  width:auto !important;
  max-height:100%;
}