
@media only screen and (max-width:1023px){

/* ----	library ---- */
	h1{font-size: 30px;}
	h2{ font-size: 25px;}
	h3{ font-size: 18px;}
	h6{ font-size: 15px;}

	.button{
	  width: 150px;
	  font-size: 14px;
	  padding: 7px 10px;
	}

	.boxContent,
	.blockContent.type4 .boxContent {
		max-width: 400px;
	}


	.boxContent .core {
		position: relative;
		padding: 0 40px 45px;
	}

	.blockContent.type2 .boxContent .core {
		padding-left: 80px;
	}

	 .boxContent .title:before{
		width: 200px;
		left: -195px;
	 }

	 .boxContent .content {
		max-width: 90%;
	}

	.blockContent .imgHolder {
		width: 350px;
	}

	.blockContent.type2 .imgHolder {
		width: 352px;
	}

	.boxContent .button {
		bottom: -15px;
		left: 38px;
	}

	.blockContent.type2 .boxContent .button {
		left: 80px;
	}

	.boxContent .title.type2 h1,
	.boxContent .content.size34{
      font-size: 28px;
    }

    .boxProject .thumb{
		height: 150px;
	}

	.boxContent.noViewMore .core {
		padding: 0 30px 25px;
	}

	 .boxContent .title{
		margin-top: 4px;
		}

	 .boxContent .title:before{
	   top: 21px;
	 }

	  .boxContent .title h1 .line-h{
		top: 21px;
	  }

	  .boxContent .title h1 .line-h:after{
		margin-left: -15px;
		}

	  .boxContent .title h1 .line-h:before{
		left: 285px;
		}

/* boxNormalContent */

	.boxNormalContent {
		font-size: 15px;
	}

	.boxNormalContent .imageHolder {
		width: 330px;
	}

	.boxNormalContent.pIntro >.content,
	 .boxNormalContent.pCare >.content{
		width: calc(100% - 340px);
	}

	.boxNormalContent .content, .boxNormalContent .imageHolder {
		font-size: 15px;
	}
	
	.boxNormalContent.pIntro >.content {
		margin-left: -3px;
	}

	

	.boxNormalContent.pCare .imageHolder {
		top: 75px;
	}

/* .boxProject */
	.boxProject .info{
	  height: 180px;
	}
  
	.boxProject .info h6{
      font-size: 15px;
      max-height: 39px;
    }

    .boxProject .info .des{
      font-size: 12px;
      height: 105px;
    }


/* ----	general ---- */
	.container {
	    max-width: 768px;
	    padding: 0 30px;
	}

	#slideShow {
		height: 350px;
		width: calc(100% - 0px);
	}

	.pageItem-inner,
	footer .container{
	  max-width: 768px;
	}


/* footer */
	footer nav >a{
    	margin: 30px 0;
 	}

 	footer .row.r2{
	  margin-top:30px;
	}

	
/* #numeOfPages */
	#numeOfPages .list >a{
	  font-size: 12px;
	  width: 38px;
	  height: 29px;
	  padding-top: 9px;
	}

	#numeOfPages .control{
	width: 40px;
	height: 40px;
	}

/*--- START smallGalelry ---*/
	#smallGalelry .galleryHolder{
		width: 400px;
		height: 290px;
	}

	#smallGalelry .control {
		width: calc(100% - 410px);
		padding-right: 40px;
	}

	.blockContent #smallGalelry {
		margin-top: 30px;
	}
/*--- end smallGalelry ---*/

	
/* ----	header ---- */
	header {
	    margin-bottom: 90px;
	    padding-top: 30px;
	}

	header nav .navItem {
    	margin: 0px 7px;
    	font-size: 13px;
    }

    header .logo-thaikoncept {
	    margin-right: 0;
	    margin-bottom: 20px;
	}

	header .lang {
	    margin-left: 12px;
	    font-size:13px;
	}

/*----slideShow-----*/
	#slideShow .controlItem {
	    margin-left: -55px;
	}
	#slideShow .controlItem.pre {
	    margin-left: 5px;
	}
/*------------------------- start pHome --------------------*/
	#pHome .blockContent{
	  margin-top: 50px;
	}
/*------------------------- end pHome --------------------*/


/*------------------------- start pProject --------------------*/
	#pProject .projectHolder{
	  width: calc(100% + 20px);
	  left: -10px;
	}

	#pProject .boxProject{
	  padding: 10px;
	}
/*------------------------- end pProject --------------------*/

#pGallery .clo .boxNormalContent .content.type2 {
    height: 166px;
}

#pProduct .pCare {
    position: relative;
    top: -50px;
}

/*------------------------- pContact--------------------*/
#pContact #contactForm .alert{
  width: calc(100% - 160px);
}

}/*@media only screen and (max-width:1023px)*/