/* -------------------
version 1.0
frontend: TANDAO
company: redixel
website: redixel.com
--------------------- */

@media only screen and (max-width:1110px){

/* ----	header ---- */
	header {
	    margin-bottom: 90px;
	}

	header nav .navItem {
    	margin: 0px 8px;
    }

    header .logo-thaikoncept {
	    margin-right: 30px;
	}

	header .lang {
	    margin-left: 10px;
	}

/*----slideShow-----*/
	#slideShow .controlItem {
	    margin-left: 5px;
	}
	#slideShow .controlItem.pre {
	    margin-left: -55px;
	}
}/*@media only screen and (max-width:1110px)*/
