
@media only screen and (max-width:450px){

/*library*/
	main {
	    padding-top: 80px;
	}

	h1{font-size: 25px;}
	h2{ font-size: 20px;}
	h3{ font-size: 18px;}
	h6{ font-size: 15px;}

	input, textarea{padding: 10px 0;margin-top: 10px;}


/*#slideShow*/
	#slideShow {
	   height: 250px;
	   margin-bottom: 20px;
	}

/*footer*/
	footer .r2 .col {
	    width: 100%;
	}

	footer .r2 .cl2 {
	    margin-top: 50px;
	    width: 100%;
	}

/*.boxContent*/
	.boxContent .content .con-title {
	    margin-bottom: 10px;
	    height: auto;
	}

	.boxContent .content .con-des {
	    padding-top:10px;
	}

	.boxContent .content .clo {
	    max-width: 100%;
	    padding-right: 0;
	    left: 0;
	    margin-bottom: 30px;
	}

	.boxContent .content .clo:last-child {
	    margin-bottom: 0px;
	    left: 0;
	}

	.boxContent .title {
	    margin-top: 9px;
	}

	.boxContent .title:before {
	    top: 16px;
	}

	.boxContent .title h1 .line-h {
	    top: 16px;
	}

	.boxContent .title:not(.underline):after {
	    width: 150px;
	}

/* boxNormalContent */
	.boxNormalContent.swapIndex{
		display:table;
	}

	.boxNormalContent.swapIndex .content{
	}

	.boxNormalContent.swapIndex .imageHolder{
		display: table-footer-group;
		margin-top: 80px;
	}

/* .boxProject */
	.boxProject .thumb {
		height: 200px;
	}

	.boxProject .info {
		height: auto;
	}

	.boxProject .info h6 {
		max-height: none;
	}

	.boxProject .info .des {
		height: auto;
	}
	
/*#slideShow */
	#slideShow .controlItem {
	    width: 30px;
	}

	#slideShow .controlItem:before {
	    width: 15px;
	    height: 15px;
	    left: 0;
	    top: 15px;
	}

	#slideShow .controlItem.pre:before {
		left: 4px;
	}

	#slideShow .controlItem {
	    margin-left: -55px;
	}

	#slideShow .controlItem {
	    margin-left: -29px;
	}

	#slideShow .controlItem.pre {
		margin-left: 11px;
	}

	#slideShow .controlItem:hover:before{
		left: 0px;
		top:10px;
		width: 20px;
		height: 20px;
		}

/*  #detailBox */
	 #detailBox .info .line_h,
	 #detailBox .content, #detailBox .imageHolder {
		margin-top: 20px;
		font-size: 14px;
	}

	#detailBox .imageHolder {
		height: 180px;
	}

	#detailBox .imageHolder .clo{
      width: calc(50% - 5px);
    }

    #detailBox .imageHolder .cl2{
      height:calc(50% - 5px);
    }

/*#smallGalelry*/
	#smallGalelry .galleryHolder {
		height: 160px;
	}

	#smallGalelry .control .projectName {
	    font-size: 16px;
	}

/*#numeOfPages*/
	#numeOfPages .list >a {
	    font-size: 10px;
	    width: 33px;
	    height: 24px;
	    padding-top: 9px;
	}

	#numeOfPages .control {
	    width: 35px;
	    height: 35px;
	}


/* animateMap */
	.animateMap{
	  height: 300px;
	}

/*------------------------- start pAbout --------------------*/
	#pAbout .blockContent, #pAbout .boxNormalContent {
	    margin-top: 30px;
	}

	#pAbout .blockContent.contact .boxContent {
	    max-width: 260px !important;
	}
	
	#pAbout .blockContent.contact .boxContent h1,
	.boxContent .title.type2 h1, .boxContent .content.size34 {
	    font-size: 19px;
	}

/*------------------------- start pProject --------------------*/
	#pProject .boxProject {
		padding: 5px;
		width:100%;
	}

	#pProject #anotherProject{
	  margin-top:30px;
	  padding-top: 30px;
	}


/*------------------------- start pGallery --------------------*/
	#pGallery .clo {
		width: 100%;
		padding: 0;
		margin-top: 30px;
	}

	#pGallery .hide-mobile {
		display:none;
	}

	#pGallery .clo:first-child {
		margin-top: 0px;
	}


	#pGallery #slideShow {
		margin-top: 50px;
		margin-bottom: 0;
	}

	#pGallery .clo .boxNormalContent .content {
		height: auto;
	}

	#pGallery .clo .boxNormalContent.swapIndex .content {
		margin-bottom:30px;
	}

	#pGallery .clo .boxNormalContent .content .align-middle {top: 0%;-webkit-transform: none;-ms-transform: none;transform: none;}

	#pGallery .clo .boxNormalContent .content.type2 {
		height: auto;
		margin-bottom: 0;
	}


/*------------------------- start pProduct --------------------*/
	#pProduct .boxNormalContent.pCare .boxContent .content .clo {
		max-width: calc(100% - 20px);
	}

/*------------------------- start pContact --------------------*/
	#pContact #bannerHolder, #pContact #contactForm {
		margin-top: 30px;
	}

/*------------------------- start pContact --------------------*/
#pSearch .boxProject .thumb {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

#pSearch .boxProject .info {
    width: 100%;
   	margin-top:20px;
    padding: 0;
}

}/*@media only screen and (max-width:450px)*/