 
@media only screen and (max-width:767px){

/*library*/
	h1{font-size: 30px;}
	h2{ font-size: 25px;}
	h3{ font-size: 18px;}
	h6{ font-size: 15px;}

	.hideMobile{display: none !important}
	.showMobile{ display: inherit !important} 

	.button{
	  width: 150px;
	  font-size: 14px;
	  padding: 7px 10px;
	}

/*general ---- */
	main {
		min-height: 0px;
		padding-top:100px;
		padding-bottom: 50px;
	}

	.container {
	    max-width: 100%;
	    padding: 0 20px;
	    height: 100%;
	}

	#slideShow {
		height: 280px;
		margin-top: 0;
	}

	.pageItem-inner,
	footer .container{
	  max-width: 768px;
	}

/*.boxContent*/
	.boxContent,
	.blockContent.type4 .boxContent {
		max-width: 100%;
		position: relative !important;
		top: 0 !important;
		transform: none !important;
		-ms-transform: none !important;
		max-width: 100% !important;
		/* padding-bottom: 30px !important; */
	}

	.boxContent.hasButton {
		padding-bottom: 15px !important;
	}

	.boxContent .core {
		position: relative;
		padding: 0 30px 35px !important;
	}

	.boxContent .title:before{
		width: 200px;
		left: -195px;
	}

	.boxContent .content {
		max-width: 100%;
	}

	.blockContent .imgHolder {
		width: 100%;
		margin-bottom: 20px;
	}

	.boxContent .button {
		bottom: -15px !important;
		left: 30px !important;
	}

	.boxContent .title.type2 h1,
	.boxContent .content.size34{
      font-size: 28px;
    }

    .boxContent.noViewMore .core {
		padding: 0 30px 25px;
	}

	 .boxContent .title:before{
	   top: 21px;
	 }

	  .boxContent .title h1 .line-h{
		top: 21px;
	  }

	  .boxContent .title h1 .line-h:after{
		margin-left: -15px;
	  }

	  .boxContent .title h1 .line-h:before{
		left: 285px;
	  }


/*.blockContent*/
	.blockContent.type2 .boxContent .core {
		padding-left: 30px;
	}

	.blockContent.type2 .imgHolder {
		width: 100%;
	}

	.blockContent.type2 .boxContent .button {
		left: 80px;
	}

	
/*.boxProject*/
    .boxProject .thumb{
		height: 140px;
	}
	

/* boxNormalContent */
	.boxNormalContent {
		font-size: 15px;
	}

	.boxNormalContent .imageHolder {
		width: 330px;
	}

	.boxNormalContent.pIntro >.content,
	.boxNormalContent.pCare >.content{
		width: calc(100% - 340px);
	}

	.boxNormalContent .content, .boxNormalContent .imageHolder {
		font-size: 15px;
	}
	
	.boxNormalContent.pIntro >.content {
		margin-left: -3px;
	}

	.boxNormalContent.pCare .imageHolder {
		top: 0;
		margin-top: 0;
	}

/* .boxProject */
	.boxProject .info{
	  height: 180px;
	}
  
	.boxProject .info h6{
      font-size: 15px;
      max-height: 39px;
    }

    .boxProject .info .des{
      font-size: 12px;
      height: 105px;
    }


/*footer*/
/*----------------------------------- start footer -----------------------------------*/
	footer{
	  margin-top: 50px;
	}

	footer nav >a{
    	margin: 30px 0;
 	}

 	footer .row.r2{
	  margin-top: 30px;
	}

	footer .r2 .col {
		width: 60%;
		vertical-align: top;
	}

	footer .r2 .cl2 {
		margin-top: 0;
		width: 40%;
	}
	
	footer .r2 .cl1 >div {
		width: 100%;
		margin-top: 20px;
	}

	footer .r2 .cl1 >div:first-child {
		margin-top: 0px;
	}

	footer .r2 .cl1 >div >p{
	  line-height: 2;
	}

	footer .r2 .cl1 >div >p br{
	  display:none;
	}

	footer .r2 .cl1 a {
		border-right:1px solid #fff;
		padding-right:10px;
		margin-right:10px;
	}

	footer .r2 .cl1 a:last-child{
		margin-right:0px;
		border-right:none;
		padding-right:0;

	}

	footer .r1 .moveTopBtn {
	    width: 40px;
	    height: 40px;
	}

	footer .r1 .moveTopBtn:before {
		width: 10px;
		height: 10px;
		top: 15px;
		left: 14px;
	}

	
/*header*/
	header {
	    margin-bottom: 0;
	    padding: 12px 0;
	    position: fixed;
	    background: #463f3d;
	    width: 100%;
	    height: 26px;
	    top: 0;
	    overflow: hidden;
	    z-index: 1000;
	    transition: 500ms;
	    -ms-transition: 500ms;
	    -moz-transform: 500ms;
	    -o-transition: 500ms;
	    -webkit-transition: 500ms;
	}

	header.disalbeEasing{
		transition: none;
	    -ms-transition: none;
	    -moz-transform: none;
	    -o-transition: none;
	    -webkit-transition: none;
	}

	header nav .navItem .submenu li{
     padding: 10px 0;
    }

	
	header nav .navItem .submenu {
		position: relative;
		height:0;
		padding: 0;
		margin-top: 0;
	}

	header nav .navItem:not(.searchBtn):hover .submenu {
		display: block;
		padding: 10px 0;
		height: 106px;
	}

	header .logo-thaikoncept img {
		width: 120px;
	}

	header.hide {
		top: -50px;
	}

	header.open{
		height:100%;
	}

	header nav .navItem {
    	display: table;
    	padding: 0px 15px;
    	text-align: center;
    	margin: 30px auto !important;
    }

    header .logo-thaikoncept {
	    margin-right: 0;
	    margin-bottom: 0;
	    float: left;
	}

	header nav{
		/* display:none; */
	}

	header nav{
		width: 100%;
		left: 50%;
		top: 34px;
		text-align: center;
		max-width: 250px;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		clear: both;
		display: block;
	}

	header nav .searchBtn{
		position: absolute;
		left: 50%;
		bottom: -90px;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	header nav .searchBtn .searchBox {
		right: 11px;
		top: -8px;
	}

	header nav .searchBtn .searchBox.show {
		width: 300px;
		right: -125px;
		opacity: 1;
	}

	header nav .searchBtn img.show {
		right: -132px;
	}

	  

	header .hamburger{
		float:right;
		padding: 0;
		margin-top: 2px;
	}


	header .lang {
	    margin-left: 0;
	    margin-top: 100px;
	    position: relative;
	    clear: both;
	}

	header .lang a{
	   padding:0 5px;
	}


/*#numeOfPages */
	#numeOfPages .list >a{
	  font-size: 12px;
	  width: 38px;
	  height: 29px;
	  padding-top: 9px;
	}

	#numeOfPages .control{
	width: 40px;
	height: 40px;
	}

/*#smallGalelry*/
	#smallGalelry .galleryHolder{
		width: 100%;
		height: 290px;
		margin-bottom: 20px;
	}

	#smallGalelry .control {
		width: 100%;
		padding-right: 0;
		margin: 10px 0;
	}

	#smallGalelry .control.cl1 {
		display: table-footer-group;
	}

	.blockContent #smallGalelry {
		margin-top: 30px;
		display: table;
		width: 100%;
	}
	
/*#slideShow*/
	#slideShow .controlItem {
	    margin-left: -55px;
	}
	#slideShow .controlItem.pre {
	    margin-left: 5px;
	}


/* boxNormalContent */
	.boxNormalContent .imageHolder,
	.boxNormalContent.pIntro >.content,
	.boxNormalContent.pCare >.content{
		width: 100%;
		padding-right: 0;
	}

	.boxNormalContent .imageHolder{
		margin-top:30px;
	}
	
	.boxNormalContent.pIntro >.content {
		margin-left: 0;
	}

/* animateMap */
	.animateMap{
	  height: 400px;
	}

/* #detailBox */
	#detailBox .imageHolder{
		height: 400px;
	}

  #detailBox .imageHolder .clo{
      width: calc(50% - 10px);
    }

    #detailBox .imageHolder .cl2{
      height:calc(50% - 10px);
    }


/*------------------------- start pHome --------------------*/
	#pHome .blockContent{
	}

	#pHome .content-wapper {
		max-width: 100%;
		padding-left: 0px;
		margin-top: 30px;
	}

/*------------------------- start pProject --------------------*/
	#pProject .projectHolder{
	  width: calc(100% + 10px);
	  left: -5px;
	}

	#pProject .boxProject{
	  padding: 5px;
	}



/*------------------------- start pGallery --------------------*/
#pGallery .clo .boxNormalContent .content.type2 {
    height: 166px;
}


/* p404 */
#p404{
  font-size:15px;
}

#p404 .title{
  font-size:70px;
}

#p404 .button{
  margin-top:30px;
}

/*------------------------- start pProduct --------------------*/
#pProduct .pCare {
    position: relative;
    top: 0px;
    margin-top:30px
}

#pProduct .boxNormalContent .imageHolder {
	margin-top: 30px;
}

/*------------------------- start pAbout --------------------*/
#pAbout .blockContent.contact .boxContent {
	position: absolute !important;
	left: 50% !important;
	top: 50% !important;
	max-width: 400px !important;
	-ms-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
}

#pAbout .boxContent.alignCenter .button {
    left: 50% !important;
    margin-left: -75px !important;
}

/*------------------------- start pGallery --------------------*/
#pGallery .clo {
    width: 50%;
    padding: 0 10px;
}

#pGallery #slideShow {
    margin-top: 50px;
    margin-bottom: 0;
}

#pGallery .boxNormalContent .imageHolder img.r2 {
    margin-top: 20px;
}

#pGallery .clo .boxNormalContent .content.type2 {
    height: 130px;
}

#pGallery .row2 {
    margin-top: 30px;
    margin-bottom: 50px;
}

/*------------------------- pContact--------------------*/
#pContact #contactForm .alert{
  width: calc(100% - 0px);
  padding-left:0px;
}

}/*@media only screen and (max-width:767px)*/