/* -------------------
version 1.0
frontend: TANDAO
company: redixel
website: redixel.com
--------------------- */

body:before{
  content:"";
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.86);
  position:fixed;
  left:0;
  top:0;
  z-index:20;
  opacity:0;
  visibility:hidden;
  transition:1000ms;
  -ms-transition:1000ms;
  -moz-transform: 1000ms;
  -o-transition:1000ms;
  -webkit-transition:1000ms;

}

body.overlay:before{
  opacity:1;
  visibility:visible;
}

.pageItem-inner,
footer .container{
  max-width: 900px;
  margin:0 auto;
  box-sizing: border-box;
}


/* p404 */
#p404{
  text-align:center;
  font-size:20px;
}

#p404 .title{
  font-size:100px;
}

#p404 .button{
  margin:0 auto;
  margin-top:40px;
}



/*------------------------- start pSearch --------------------*/
#pSearch{
  position: relative;
}
  
  #pSearch{
    position: relative;
  }

  #pSearch .numeOfPagesAnimation{
    margin-top:30px;
  }

  #pSearch .searchHolder{
    position: relative;
    width: 100%;
    background: url('../images/icon_search.svg') no-repeat calc(100% - 15px) center;
  }

  #pSearch .searchHolder input{
    position: relative;
    padding: 15px;
    border:1px solid #cccccc61;
    box-sizing: border-box;
    margin: 0;
    background: #00000033;
  }

  #pSearch input:focus{
    border-color:white;
  }

  #pSearch .boxProject{
    display:block;
    width:100%;
  }

  #pSearch .boxProject .thumb{
    width: 200px;
    height: 150px;
  }

  #pSearch .boxProject .info{
    width: calc(100% - 210px);
    height: auto;
    padding: 0 0 0 20px;
  }

  #pSearch .boxProject .thumb,
  #pSearch .boxProject .info{
    display: inline-block;
    vertical-align: top;
    background: transparent;
  }

   #pSearch .boxProject .info .des{
    height: auto;
  }

  #pSearch .boxProject .core{
    padding:30px 0;
    border-bottom: 1px solid #ffffff57;
  }

  #pSearch .boxProject:hover .core,
  #pSearch .boxProject.active .core{
    box-shadow: none;
  }

  #pSearch .keywordSearched{
    margin-top:20px;
    font-size:20px;
  }

/*------------------------- start pHome --------------------*/
#pHome #slideShow{
  margin: 0px auto;
}

/*content-wapper*/
#pHome .content-wapper{
  max-width: 300px;
  padding-left: 50px;
  letter-spacing: 1px;
  margin-top: 50px;
}
  #pHome .content-wapper >p{
    margin-top: 20px;
  }

  #pHome .content-wapper >p:first-child{
    margin-top: 0px;
  }

  #pHome .blockContent{
    margin-top: 90px;
    width: 100%;
  }
/*------------------------- end pHome --------------------*/




/*------------------------- start pGallery --------------------*/
#pGallery{
  position:relative;
}

#pGallery .row2{
  margin-top:50px;
  margin-bottom:70px;
}

#pGallery .pageItem-inner{
  font-size:0;
}

#pGallery .boxNormalContent .imageHolder {
  width:100%;
  max-width:100%;
}

#pGallery .boxNormalContent .imageHolder img.r2{
  margin-top:40px;
}



  #pGallery .clo{
    width:50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    box-sizing: border-box;
  }

  #pGallery .cl1{
    padding-left: 0 !important;
  }

  #pGallery .cl2{
    padding-right: 0 !important;
  }

  #pGallery .clo .boxNormalContent .content{
    height: 170px;
  }
  
  #pGallery .clo .boxNormalContent .content.type2{
    height: 203px;
  }

  #pGallery .cl2 .boxNormalContent .content{
  }
/*------------------------- end pGallery --------------------*/






/*------------------------- start Project --------------------*/

#pProject #slideShow {margin-top: 0;}

#pProject .projectHolder{
  text-align: left;
  font-size: 0;
  width: calc(100% + 30px);
  position: relative;
  left: -15px;
}

#pProject #anotherProject{
  margin-top:50px;
}

#pProject .boxProject{
  display: inline-block;
  padding: 15px;
  width:33.3%;
  box-sizing:border-box;
}

#pProject #numeOfPages{
  margin-top:30px;
}
/*------------------------- end pHome --------------------*/


/*------------------------- start pProduct --------------------*/
#pProduct .pCare{
  position: relative;
  top: -70px;
}


/*------------------------- end pProduct --------------------*/




/*------------------------- start pAbout --------------------*/
#pAbout .blockContent,
#pAbout .boxNormalContent{
  margin-top: 50px;
}
/*------------------------- end pAbout --------------------*/


/*------------------------- start pAbout --------------------*/
#pContact #bannerHolder,
#pContact #contactForm{
  margin-top: 50px;
}

#pContact #contactForm{
  padding-bottom: 80px;
  overflow: hidden;
}

#pContact #contactForm .submitBtn{
  margin-top: 30px;
  float: left;
}

#pContact #contactForm .alert{
  margin-top: 31px;
  padding-left: 20px;
  float: left;
  height: 50px;
  width: calc(100% - 200px);
  box-sizing: border-box;
  color: #d27800;
  font-size: 21px;
}


/*------------------------- end pAbout --------------------*/



/*--- start boxNormalContent ---*/
.boxNormalContent{
  position:relative;
  text-align:center;
  letter-spacing:1px;
  font-size: 18px;
}

  .boxNormalContent .content,
  .boxNormalContent .imageHolder{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
  }

  .boxNormalContent.pIntro >.content{
    margin-left:-8px;
  }

  .boxNormalContent.pIntro >.content,
  .boxNormalContent.pCare >.content{
    width: calc(100% - 445px);
    padding-right: 30px;
    box-sizing: border-box;
    text-align: left;
  }

  .boxNormalContent .imageHolder{
    width: 430px;
  }
    .boxNormalContent .imageHolder img{
      width: 100%;
    }

.boxNormalContent.pCare{
  text-align:left;
}

  .boxNormalContent.pCare .content,
  .boxNormalContent.pCare .imageHolder{
    vertical-align: top;
  }

  .boxNormalContent.pCare .imageHolder{
    top: 99px;
    position: relative;
    /* margin-left: 5px; */
  }

  .boxNormalContent.pCare .boxContent .content{
    font-size:0;
  }

  .boxNormalContent.pCare .boxContent .content {
      max-width: calc(100% + 20px) !important;
      width: calc(100% + 20px) !important;
  }

  .boxNormalContent.pCare .boxContent .content .clo {
    max-width: calc(50% - 1px);
    left: 0px;
    float: none;
    display: inline-block;
    text-align: left;
    font-size:14px;
    vertical-align: top;
    margin-bottom:30px;
  }

  .boxNormalContent.pCare .boxContent .content .clo:last-child {
    margin-bottom:0px;
  }

  .boxNormalContent.pCare .boxContent .content .con-title {
      margin-bottom: 10px;
      height: auto;
  }
/*--- end boxNormalContent ---*/



/*--- start blockContent ---*/
.blockContent{
  position: relative;
  overflow: hidden;
}

  .blockContent #smallGalelry{
    margin-top: 23px;
    text-align: center;
  }

  .blockContent .boxContent{
    position:absolute;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    left: 0;
    top: 50%;
    z-index: 1;
  }

  .blockContent.contact .boxContent{
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }

   .blockContent.noPhoto .boxContent {
    position:relative;
    -ms-transform: none;
    transform: none;
    left: 0;
    top: 0;
    max-width: 100%;
  }


  .blockContent.type2 .boxContent{
    max-width: 410px;
    right: 0;
    left: auto;
  }

  .blockContent.type4 .boxContent{
    max-width: 505px;
  }

  .blockContent.type3 .boxContent{
    max-width: 100%;
    width: 100%;
    position: relative;
    top: 0;
    -ms-transform: none;
    transform: none;
  }

  .blockContent.type2 .boxContent .content {
      max-width: 100%;
  }

  .blockContent.type2 .boxContent .core{
    padding-left: 110px;
  }

   .blockContent.type4 .boxContent .core{
    padding-left: 100px;
  }
  
  .blockContent .imgHolder{
    width: 458px;
    float: right;
  }

  .blockContent.contact .imgHolder{
    width: 100%;
    float: none;
    clear:both;
  }

  .blockContent .imgHolder img{
    width: 100%;
  }

  .blockContent.type2 .imgHolder{
    width: 555px;
    float: left;
  }

  .blockContent.type4 .imgHolder{
    width: 458px;
  }

  .blockContent.type2 .boxContent .button{
    left: 120px;
  }
/*--- end blockContent ---*/



/*--- start boxContent ---*/
.boxContent{
  position: relative;
  max-width: 520px;
  letter-spacing: 1px;
}

.boxContent.alignCenter{
  text-align:center;
}

  .boxContent .button{
    position:absolute;
    bottom: -18px;
    left: 53px;
  }

  .boxContent.alignCenter .button{
    left: 50%;
    margin-left: -100px;
  }

  .boxContent .core{
    position: relative;
    padding: 0 50px 65px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
  }

  .boxContent.alignCenter .core{
    padding: 0 50px 35px;
    width: 100%;
    box-sizing: border-box;
  }

  .boxContent.noViewMore .core{
    padding: 0 50px 45px;
  }

  

  .blockContent.type3 .boxContent .core{
    padding: 0 50px 45px;
  }

  .boxContent .core:before{
    content:"";
    height: 100%;
    width: 5px;
    background:url("../images/border_line.png") no-repeat left center;
    background-size: 100% 100%;
    left: -70px;
    margin-left: 70px;
    top: 30px;
    position: absolute;
  }

  .boxContent .core:after{
    content:"";
    height: 100%;
    width: 5px;
    background:url("../images/border_line.png") no-repeat left center;
    background-size: 100% 100%;
    right: 0px;
    margin-left: 70px;
    top: 30px;
    position: absolute;
  }
  
  .boxContent .title{
    position: relative;
    margin-bottom: 20px;
  }
  
  .boxContent .title.type3{
    margin-bottom: 10px;
  }


  .boxContent .title:not(.underline):after{
    content:"";
    width: 250px;
    height:1px;
    background: rgba(255, 255, 255, 0.42);
    position: absolute;
    top:100%;
    margin-top: 20px;
    left: 0;
  }

  .boxContent .title.noUnderline:after{
    display:none;
  }


  .boxContent .title:before{
    content:"";
    width: 300px;
    height: 5px;
    background:url("../images/border_r.png") no-repeat left center;
    background-size: 100% 100%;
    left: -300px;
    top: 25px;
    position: absolute;
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .boxContent .title h1 .line-h{
    position:absolute;
    left:100%;
    top: 25px;
    width: 0;
    height: 5px;
  }

  .boxContent .title h1 .line-h:after{
    content:"";
    width: 300px;
    height: 5px;
    background:url("../images/border_r.png") no-repeat left center;
    background-size: 100% 100%;
    left: 100%;
    margin-left: 10px;
    top: 0;
    position: absolute;
  }

  .boxContent .title h1 .line-h:before{
    content:"";
    width: 500px;
    height: 5px;
    background:url("../images/border_line.png") no-repeat left center;
    background-size: 100% 100%;
    left: 310px;
    top: 0;
    position: absolute;
  }

    .boxContent .title h1{
      position: relative;
      display: block;
    }

    .boxContent .title.type2 h1{
      font-size:34px;
    }

    .boxContent .title h1:first-child{
      display: inline-block;
    }

    .boxContent .title.underline h1:after {
        content: "";
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.42);
        position: absolute;
        top: 100%;
        margin-top: 20px;
        left: 0;
    }


    .boxContent .content{
      font-size: 14px;
      margin-top: 40px;
      max-width: 80%;
    }

    .boxContent .content.fullWidth{
      max-width: 100%;
      margin-top: 0px;
    }

     .boxContent .content.size34{
      font-size: 34px;
      font-family: 'SFU-Futura-R';
    }

    .boxContent .content .clo{
      max-width: 33.3%;
      float: left;
      box-sizing: border-box;
      padding-right: 20px;
      position: relative;
      left: 10px;
    } 

    .boxContent .content .clo:first-child{
      left: 0;
    }

    .boxContent .content .clo:last-child{
    left: 20px;
    }

      .boxContent .content .con-title{
        margin-bottom: 20px;
        height: 40px;
        overflow: hidden;
        position: relative;
      }

      .boxContent .content .con-des:before{
        content:"";
        width:100%;
        height:1px;
        background: #514d4d;
        position:absolute;
        left:0;
        top: 0px;
      }

      .boxContent .content .con-des{
        color: #948a88;
        position: relative;
        padding-top: 20px;
      }

    .blockContent.noPhoto .boxContent .content{
      max-width: 100%;
      overflow: hidden;
    }
/*--- end boxContent ---*/



/*--- start boxProject ---*/
.boxProject{
  position: relative;
  width: 300px;
  box-sizing: border-box;
} 

.boxProject .core{
  transition:200ms;
  -ms-transition:200ms;
  -moz-transform: 200ms;
  -o-transition:200ms;
  -webkit-transition:200ms;
  position: relative;
  top: 0;
}

  body:not(.disableHover) .boxProject:hover .core,
  .boxProject.active .core{
    top:-15px;
    box-shadow: 0 0 20px 9px rgba(0, 0, 0, 0.19);
  }


  body:not(.disableHover) .boxProject .core:hover .thumb:before,
  .boxProject .core.active .thumb:before{
    opacity:1;
  }

  body:not(.disableHover) .boxProject .core:hover .thumb:after,
  .boxProject .core.active .thumb:after{
    -ms-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    opacity:1;
  }

  
  .boxProject .thumb{
    width: 100%;
    height: 220px;
    background-color: #2b2928;
    background-size: cover;
    background-position: center center;
    position: relative;
  }

  .boxProject .thumb:before{
    content:"";
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.57);
    transition: 200ms;
    -ms-transition:200ms;
    -moz-transform: 200ms;
    -o-transition:200ms;
    -webkit-transition:200ms;
    opacity: 0;
  }

  .boxProject .thumb:after{
    content:"";
    width: 40px;
    height: 40px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin-left:-20px;
    margin-top:-20px;
    background: url(../images/icon_sign.svg) no-repeat center center;
    background-size:contain;
    transition: 200ms;
    -ms-transition:200ms;
    -moz-transform: 200ms;
    -o-transition:200ms;
    -webkit-transition:200ms;
    -ms-transform: scale(0,0); /* IE 9 */
    -webkit-transform: scale(0,0); /* Safari */
    transform: scale(0,0);
    opacity:0;
    transition-timing-function: cubic-bezier(0.04, 1.05, 0.21, 1.54);    /* Quick on the way out */
  }

  .boxProject .info{
    padding: 15px 15px;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
    background: #2d2827;
    letter-spacing:1px;
  } 
    .boxProject .info .day{
      font-size:12px;
      font-style: italic;
      margin-top: 7px;
    }

    .boxProject .info h6{
      font-size: 18px;
      font-family: 'SFU-Futura-R';
      max-height: 44px;
      overflow: hidden;
    }

    .boxProject .info .des{
      font-size: 14px;
      margin-top: 10px;
      height: 105px;
      overflow: hidden;
      /* padding-bottom: 15px; */
      box-sizing: border-box;
    }
/*--- end boxProject ---*/






/*--- start slideShow ---*/
#slideShow{
  position: relative;
  text-align: center;
  height: 547px;
  width: 100%;
  margin: 50px auto;
}

#slideShow-inner{
  position: relative;
}
#slideShow .slideshow-inner{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background: #221c1c;
}

#slideShow .slideItem{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  overflow: hidden;
  opacity:0;
  visibility:hidden;
}

#slideShow .slideItem.show{
  opacity:1;
  visibility:visible;
}

#slideShow .slideItem:hover .info,
#slideShow .slideItem.active .info{
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
}

  #slideShow .slideItem .info{
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    text-align:left;
    position: absolute;
    bottom: 0;
    letter-spacing:1px;
    -ms-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: 200ms;
    -ms-transition: 200ms;
    -moz-transform: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
  }
    #slideShow .slideItem .info .des{
      font-size:14px;
      margin-top:10px;
    }

  #slideShow .controller{
    position: absolute;
    top:50%;
    left: 50%;
    width: 100%;
  }

  #slideShow .controlItem{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: -25px;
    margin-left: 15px;
    cursor: pointer;
  }

  #slideShow .controlItem.pre{
    left: -50%;
    margin-left: -65px;
  }

  #slideShow .controlItem:before{
    content:"";
    border: solid white;
    border-width: 0 1px 1px 0;
    position: absolute;
    width: 25px;
    height: 25px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 5px;
    top: 12px;
    transition: 200ms;
    -ms-transition: 200ms;
    -moz-transform: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
    cursor: pointer;
  }

  #slideShow .controlItem.pre:before{
    border-width: 1px 0 0 1px;
    left: 19px;
  }

  #slideShow .controlItem:hover:before{
    left: 10px;
    top:10px;
    width: 30px;
    height: 30px;
  }
/*--- end slideShow ---*/




/*--- start smallGalelry ---*/
#smallGalelry{
  position: relative;
  font-size: 0;
}
  #smallGalelry .col{
    display: inline-block;
    vertical-align: middle;
  }

  #smallGalelry .control{
    position: relative;
    width: calc(100% - 526px);
    text-align: center;
    padding-right: 40px;
    box-sizing: border-box;
  }
    #smallGalelry .control .projectName{
      position: relative;
      font-size: 20px;
    }

    #smallGalelry .control ul{
      position: relative;
      width: 100%;
    }

      #smallGalelry .control ul li{
        position: relative;
        width: 10px;
        height: 10px;
        background: #565656;
        border-radius: 50%;
        display: inline-block;
        margin: 10px;
        opacity: 1;
        transition:200ms;
        -ms-transition:200ms;
        -moz-transform: 200ms;
        -o-transition:200ms;
        -webkit-transition:200ms;
        cursor:pointer;
      }

      #smallGalelry .control ul li:hover,
      #smallGalelry .control ul li.active{
        background: white;
      }

  #smallGalelry .galleryHolder{
    position: relative;
    width: 525px;
    height: 382px;
  }
    #smallGalelry .galleryItem{
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      position: absolute;
      left: 0;
      top:0;
      opacity:0;
      visibility:hidden;
    }

    #smallGalelry .galleryItem.show{
      opacity:1;
      visibility:visible;
    }
/*--- end smallGalelry ---*/



/*--- start numOfPage ---*/
#numeOfPages{
  position: relative;
  text-align: center;
}

#numeOfPages .col{
  display:inline-block;
  vertical-align: middle;
}

  #numeOfPages .control{
    position: relative;
    width: 45px;
    height: 45px;
    background: #2d2827;
    border-radius: 50%;
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);
    border: 1px solid #2e2928;
    transition:200ms;
    -ms-transition:200ms;
    -moz-transform: 200ms;
    -o-transition:200ms;
    -webkit-transition:200ms;
  }

   #numeOfPages .control:hover{  
    background: #342f2d;
    border-color: #464040;
  }

   #numeOfPages .control:hover .arrow:after,
   #numeOfPages .control:hover .arrow:before{
     border-color: white;
   }

   #numeOfPages .control:hover .arrow{
    -ms-transform: translate(2px, 0%);
    transform: translate(2px, 0%);
  }

  #numeOfPages .control:hover .arrow:before{
    left: 5px;
  }

  #numeOfPages .control .arrow:after,
  #numeOfPages .control .arrow:before{
    content: "";
    border: solid #8e8583;
    border-width: 0 1px 1px 0;
    position: absolute;
    width: 10px;
    height: 10px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0px;
    top: -6px;
    transition: 200ms;
    -ms-transition: 200ms;
    -moz-transform: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
  }

   #numeOfPages .control .arrow:before{
    left: -5px;
  }

   #numeOfPages .control .arrow{
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -5px;
    -ms-transform: translate(0px, 0%);
    transform: translate(0px, 0%);
    transition: 200ms;
    -ms-transition: 200ms;
    -moz-transform: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
  }

  #numeOfPages .control.pre,
  #numeOfPages .control.pre{
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }


  #numeOfPages .list{
    position: relative;
    text-align: center;
  }
    #numeOfPages .list >a{
      position: relative;
      font-size: 14px;
      letter-spacing: 1px;
      text-align: center;
      color: #948a88;
      width: 45px;
      height: 33px;
      background: #2d2827;
      border: 1px solid #2e2928;
      border-radius: 50%;
      display: inline-block;
      padding-top: 12px;
      transition: 200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
    }

    #numeOfPages .list >a:hover,
    #numeOfPages .list >a.active{
      color: white;
      background: #342f2d;
      border-color: #464040;
    }
/*--- end numOfPage ---*/


/*--- start anotherProject ---*/
#anotherProject{
  position: relative;
  padding-top: 50px;
}

  #anotherProject .projectHolder{
    margin-top:30px;
  }

  #anotherProject:after,
  #anotherProject:before{
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top:0;
    background-color: rgba(255, 255, 255, 0.42);
    position: absolute;
  }

  #anotherProject:after{
    top: 3px;
  }
/*--- end anotherProject ---*/


/*--- start detailBox ---*/
#detailBox{
  position: relative;
  letter-spacing: 1px;
  text-align: left;
}

#detailBox .imgHolder{
}

  #detailBox .info{
    
  }
  
  #detailBox .info{
    margin:20px 0;
    position:relative;
  }

  #detailBox .info .line_h{
    width:230px;
    height:1px;
    background: rgba(255, 255, 255, 0.42);
    margin-top:30px;
  }

  #detailBox .date{
    margin-top:10px;
  }

  #detailBox img{
    width: 100%;
  }



  #detailBox .content,
  #detailBox .imageHolder{
    margin-top: 30px;
  }

  #detailBox .imageHolder{
    position: relative;
    height: 490px;
    font-size: 0;
  }

  #detailBox .imageHolder:before{
    content:"";
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.86);
    position:fixed;
    left:0;
    top:0;
    z-index:20;
    opacity:0;
    visibility:hidden;
    transition:500ms;
    -ms-transition:500ms;
    -moz-transform: 500ms;
    -o-transition:500ms;
    -webkit-transition: 500ms;
  }

  #detailBox .imageHolder.overlay:before{
    opacity:1;
    visibility:visible;
  }

    #detailBox .imageHolder .icon-zoom{
      position:absolute;
      right: 15px;
      bottom: 15px;
    }

    #detailBox .imageHolder .icon-close{
      position:absolute;
      right: 5px;
      top: -40px;
      display: none;
    }

    #detailBox .imageHolder .clo{
      position: absolute;
      height: 100%;
      width: calc(50% - 15px);
      box-sizing: border-box;
      background-size: cover;
      background-position: center center;
      transition: 500ms;
      -ms-transition:500ms;
      -moz-transform: 500ms;
      -o-transition:500ms;
      -webkit-transition:500ms;
    }

    #detailBox .imageHolder .cl2{
      height:calc(50% - 15px);
      right:0;
    }

    #detailBox .imageHolder .cl2.bottom{
      bottom:0;
    }

    #detailBox .imageHolder .expand{
      width: 100% !important;
      height: 100% !important;
      position: absolute !important;
      z-index: 30 !important;
    }

    #detailBox .imageHolder .clo.expand .icon-zoom{
      display:none;
    }

    #detailBox .imageHolder .clo.expand .icon-close{
      display:block;
    }


    #detailBox .imageHolder .clo:last-child{
      right: 0;
    }
    
/*--- end detailBox ---*/





/*--- bannerHolder ---*/
#bannerHolder{
  width: 100%;
}
  #bannerHolder img{
    width: 100%;
  }
/*--- end bannerHolder ---*/


/*--- start googleMap ---*/
.animateMap{
  width: 100%;
  height: 500px;
  /* background: #353535; */
  position: relative;
  border: 1px solid #cccccc30;
  overflow: hidden;
}

#googleMap{
  width: 100%;
  height:100%;
  position: relative;
  z-index: 1;
}
/*--- end googleMap ---*/


/*----------------------------------- start hearder -----------------------------------*/
header{
  position: relative;
  text-align: center;
  padding-top: 50px;
  z-index: 10;
  margin-bottom: 100px;
}
  
  header .logo-thaikoncept, 
  header nav,
  header .lang{
    display: inline-block;
    vertical-align: middle;
  }

  header .logo-thaikoncept{
    margin-right: 57px;
  }
    header .logo-thaikoncept img{
      width: 180px;
    }

  header nav{
    position: relative;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
  }

  header nav .navItem{
    position: relative;
    margin: 0px 10px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    transition:200ms;
    -ms-transition:200ms;
    -moz-transform: 200ms;
    -o-transition:200ms;
    -webkit-transition:200ms;
  }

  header nav .navItem.active{
    pointer-events: auto;
  }

  header nav .navItem:after{
      content:"";
      width: 120%;
      height: 150%;
      position:absolute;
      left: -10%;
      top: 0px;
      background: rgba(0, 0, 0, 0);
      display:none;
      z-index: 0;
    }

    header nav .navItem .submenu{
      text-transform:none;
      position: absolute;
      width: 220px;
      height: 0;
      left: 50%;
      margin-left: -110px;
      top: 100%;
      margin-top: 16px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #877a7a;
      color: #877a7a;
      opacity:0;
      visibility: hidden;
      overflow:hidden;
      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
      z-index: 1;
    }

    

    header nav .navItem .submenu li{
     padding: 4px 0;
    }

    header nav .navItem .submenu a{
      position:relative;
      cursor: pointer;
    }

    header nav .navItem .submenu a:after{
      content:'';
      width:0%;
      height:1px;
      background:#877a7a;
      position:absolute;
      left:50%;
      top: 100%;

      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
    }

    header nav .navItem .submenu a:hover:after,
    header nav .navItem .submenu a.active:after{
      width:100%;
      left:0%;
    }
    
    header nav .navItem:before{
      content:"";
      position:absolute;
      width: 0;
      height: 3px;
      background-color:#816f6f;
      top: 27px;
      left: 50%;
      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
    }

    header nav .navItem:first-child{
      margin-left:0;
    }

    header nav .navItem:last-child{
      margin-right:0;
    }

    header nav .searchBtn img{
      width: 20px;
      position: relative;
      z-index: 1;
      top: 0px;
      right: 0;
    }

    body:not(.disableHover) header nav .navItem:not(.searchBtn):hover:before,
    header nav .navItem:not(.searchBtn).active:before{
      width:50%;
      left: 25%;
    }
    
    header nav .navItem:not(.searchBtn):hover:after{
      display:block;
    }
    
    header nav .navItem:not(.searchBtn):hover .submenu{
      opacity:1;
      visibility: visible;
      margin-top: 6px;
      height: 82px;
    }

    header nav .searchBtn .searchBox{
      position:absolute;
      right: -11px;
      top: -8px;
      width: 30px;
      margin-top: 0;
      background: #000000;
      border-radius: 5px;
      z-index: 0;
      overflow: hidden;
      text-align: left;
      visibility: hidden;
      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
      opacity: 0;
    }

    header nav .searchBtn .searchBox.show{
      visibility: visible;
      width: 340px;
      opacity: 1;
    }

    header nav .searchBtn .searchBox input{
      margin-top: 0;
      font-size: 12px;
      padding: 10px 40px 10px 10px;
      width: 100%;
      max-width: 100%;
      min-width: 0px;
      text-align: left;
      color: white;
      border: 1px solid;
      border-color: #806e6e7d;
      border-radius: 5px;
      box-sizing: border-box;
      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
    }

    header nav .searchBtn .searchBox input:focus{
      border-color: #806e6e;
    }
    

    header nav .navItem.searchBtn:hover img{
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
    }

    header .lang{
      position:relative;
      margin-left: 20px;
    }
      header .lang >a:hover,
      header .lang >a.active{
        color:#707070;
      }
/*----------------------------------- end hearder -----------------------------------*/



/*----------------------------------- start footer -----------------------------------*/
footer{
  position: relative;
  font-size: 12px;
  background: #231f20;
  margin-top: 100px;
}

  footer .container{
    position:relative;
    top:-35px;
  }

  footer .row{
    position: relative;
    font-size: 0;
  }

  footer .r1 .moveTopBtn{
    position: absolute;
    right: 0;
    top: 10px;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    background: #241f20;
    transition: 200ms;
    -ms-transition: 200ms;
    -moz-transform: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
    cursor:pointer;
  }
    footer .r1 .moveTopBtn:before{
      content: "";
      border: solid white;
      border-width: 2px 2px 0px 0;
      position: absolute;
      width: 15px;
      height: 15px;
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 18px;
      left: 15px;
      transition: 200ms;
      -ms-transition: 200ms;
      -moz-transform: 200ms;
      -o-transition: 200ms;
      -webkit-transition: 200ms;
    }

    footer .r1 .moveTopBtn:hover{
       border-color: rgba(255, 255, 255, 0.28);
    }

    footer .r1 .moveTopBtn:hover:before{
       top: 13px;
    }

  footer .r2 .col{
    display: inline-block;
    vertical-align: middle;
  }

    footer .r2 .cl1,
    footer .r2 .cl2{
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
    }

    footer .r2 .cl2{
      width:20%;
      letter-spacing: 1px;
    }

    footer .r2 .cl1{
      width:80%;
    }

      footer .r2 .cl1 >div{
        float: left;
        width: 25%;
        padding-right: 30px;
        box-sizing: border-box;
      }

        footer .r2 .cl1 >div >h6{
          position: relative;
          background: #241f20;
        }

        footer .r2 .cl1 >div >h6 span{
          background: #241f20;
          position: relative;
          z-index: 1;
          padding-right: 20px;
          font-family: 'SFU-Futura-R';
        }
        
          footer .r2 .cl1 >div >h6:after{
            content:"";
            width:100%;
            height: 1px;
            background-color: #4f4c4d;
            position:absolute;
            left:0;
            top: 11px;
          }

        footer .r2 .cl1 >div >p{
          position: relative;
          margin-top: 10px;
          line-height:3;
          letter-spacing: 1px;
        }

        footer .r2 .cl1 a{
          transition:200ms;
          -ms-transition:200ms;
          -moz-transform: 200ms;
          -o-transition:200ms;
          -webkit-transition:200ms;
        }

          footer .r2 .cl1 a:hover{
            color:#707070;;
          }

  footer nav >a{
    text-transform: uppercase;
    display: block;
    margin: 40px 0;
    position: relative;
    padding-left: 20px;
    transition:200ms;
    -ms-transition:200ms;
    -moz-transform: 200ms;
    -o-transition:200ms;
    -webkit-transition:200ms;
  }

    footer nav >a:first-child{
      margin-top:0;
    }
    
    footer nav >a:hover,
    footer nav >a.active{
      color: #707070;
    }

    footer nav >a:hover:before,
    footer nav >a.active:before{
      border-color: #707070;
    }

    footer nav >a:hover:before{
      left: 5px;
    }
  
    footer nav >a:before{
      content: "";
      border: solid white;
      border-width: 0 1px 1px 0;
      position: absolute;
      width: 3px;
      height: 3px;
      -ms-transform: rotate(-45deg); /* IE 9 */
      -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
      transform: rotate(-45deg);
      top: 5px;
      left: 0;

      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
    }

  footer .lang{
     position: relative;
  } 

    footer .lang >a{
      transition:200ms;
      -ms-transition:200ms;
      -moz-transform: 200ms;
      -o-transition:200ms;
      -webkit-transition:200ms;
      display: inline-block;
      vertical-align: middle;
    }

    footer .lang >a:not(.divide):hover,
    footer .lang >a:not(.divide).active{
      color: #707070;
    }
/*----------------------------------- end footer -----------------------------------*/

